[2017-03-15 16:08] erikdubois opened #1 "Obmenu"
add to the list of applications to install
[http://archlabs.prophpbb.com/topic38.html](http://archlabs.prophpbb.com/topic38.html)

[2017-03-15 16:08] erikdubois opened #2 "Xfce-slimlock (AUR)"
needs to be added to the list of applications

[http://archlabs.prophpbb.com/topic65.html](http://archlabs.prophpbb.com/topic65.html)

[2017-03-15 16:09] erikdubois opened #3 "exo"
needs to be added to the list of applications

also in menu - exo-open

[2017-03-15 16:09] erikdubois opened #4 "ttf-roboto"
needs to be added to the list of applications

[2017-03-15 16:10] erikdubois opened #5 "linux-lts linux-lts-headers"
needs to be added to the list of applications

[2017-03-15 16:10] erikdubois opened #6 "obmenu-generator (AUR)"
needs to be added to the list of applications

[2017-03-15 16:11] erikdubois opened #7 "thunar-archive-plugin"
needs to be added to the list of applications

[2017-03-15 16:11] erikdubois opened #8 "thunar-volman"
needs to be added to the list of applications

[2017-03-15 16:12] erikdubois opened #9 "ubuntu font config (AUR)"
needs to be added to the list of applications

[2017-03-15 16:12] erikdubois opened #10 "rofi ??"
needs to be added to the list of applications

+5)-add rofi? will need to add keybind to conky

not sure what this is at the moment

[2017-03-15 16:13] erikdubois opened #11 "Papirus icon set"
needs to be added to the application list

[2017-03-15 16:13] erikdubois opened #12 "playerctl"
needs to be added to the application list

[2017-03-15 16:13] erikdubois opened #13 "Script to install and remove dropbox."
??

[2017-03-15 16:14] erikdubois opened #14 "-add GIMP and Libreoffice splash"
-add GIMP and Libreoffice splash

[2017-03-15 16:15] erikdubois opened #15 "lsb_release + screenfetch + neofetch"
now it is archlinux ---> ARCHLabs
[http://archlabs.prophpbb.com/topic91.html](http://archlabs.prophpbb.com/topic91.html)

[2017-03-15 16:18] erikdubois commented on #15
confirmed changing the name works

[2017-03-15 16:21] erikdubois opened #16 "obmenu"
add to the list to install applications

[2017-03-15 16:25] erikdubois opened #17 "remove minecraft from iso"
legal issues
[http://archlabs.prophpbb.com/topic90.html?hilit=minecraft](http://archlabs.prophpbb.com/topic90.html?hilit=minecraft)

[2017-03-15 16:25] erikdubois opened #18 "add competition wallpapers"
[http://archlabs.prophpbb.com/topic62.html](http://archlabs.prophpbb.com/topic62.html)

[2017-03-15 16:48] erikdubois opened #19 "dropbox"
Install it or leave up to the user.

My opinion - leave it up to the user.
We do not a menu anyway. Resides in the tint2 panel

[2017-03-15 17:08] erikdubois opened #20 "packer"
yaourt and pacaur are installed standard
why not packer?
decision required

[2017-03-15 17:09] erikdubois opened #21 "add Simplescreenrecorder to list of installed applications"
great tool to add - all my tutorials 600+ are made with it

[2017-03-15 17:12] erikdubois opened #22 "test if there is full printer support after installation"
[http://archlabs.prophpbb.com/topic68.html](http://archlabs.prophpbb.com/topic68.html)

[2017-03-15 18:32] erikdubois opened #23 "Numix-circle icon set"
Suggestion to add numix-circle standard

[2017-03-16 20:33] erikdubois opened #24 "Mirage"
add mirage to the installation list??
check on vanilla installation if ok?

[2017-03-17 18:53] Dobbie03 commented on #24
Yes, add to list.  I actually thought this was already included.

[2017-03-26 08:57] erikdubois opened #25 "Arc theme"
`sudo pacman -S arc-gtk-theme`

Install arc-gtk-theme

[2017-03-26 09:01] erikdubois commented on #25
incorporate aur/openbox-arc-git to have a menu consistent with the rest of ARC
Arc does not support openbox

[2017-03-27 04:45] osgyan commented on #25
Will be Included in +4 Iso. Will be released coming weekend

[2017-03-27 04:47] osgyan commented on #24
I think Mirage is already in +3.1, I will check and include it in +4

[2017-03-27 04:53] osgyan commented on #23
Will Include in +4

[2017-03-27 04:54] osgyan commented on #22
Sorry Can't do it myself as I have no printer. If you can help me with the list of packages and config files we need, I can bake that into the next ISO!

[2017-03-27 04:54] osgyan commented on #21
Will be done in +4 Release

[2017-03-27 06:21] Dobbie03 commented on #23
Hmm I don't know if I want this included.  With the addition of Papirus we have more themes so far than we need.  I'd prefer to not add Numix Circle in the +4 release.

[2017-03-27 06:21] #24 closed

[2017-03-27 06:22] Dobbie03 commented on #20
I'm happy with just yaourt and pacaur for now.  If there is some advantage of packer over either of the previously mentioned please let me know.

[2017-03-27 06:22] Dobbie03 commented on #19
Good call.  Remove Dropbox then.

[2017-03-27 06:23] Dobbie03 commented on #17
I have removed the obmenu entry and from the list of applications.  This can be closed.

[2017-03-27 06:23] #17 closed

[2017-03-27 06:23] Dobbie03 commented on #16
Done, this can be closed.

[2017-03-27 06:23] #16 closed

[2017-03-27 06:25] Dobbie03 commented on #12
On the list as we speak.

[2017-03-27 06:25] #12 closed

[2017-03-27 06:28] Dobbie03 commented on #10
+5) = make this an addition for the +5 release

Also so people are aware of the fact that rofi exists in AL, add the keybind/short cut to the list in the default conky.

Not required to be looked at until +5

[2017-03-27 06:29] Dobbie03 commented on #21
I concur.  Please add to the list.

[2017-03-27 06:29] Dobbie03 commented on #22
I have no printer.  Who does?

[2017-03-27 06:30] Dobbie03 commented on #25
I was under the impression we were adapting the Arc theme to suit the AL/BL colours?  Is the default Arc theme preferred?

[2017-03-27 06:47] erikdubois commented on #25
let us wait with releasing until we checked all old and new bugs are out of it

[2017-03-27 07:00] erikdubois commented on #25
Well the thing with horst3180 aka arc theme is that he is actively developing it. Updates come in - many issues are being dealt with. Let us be honest. Issues I can not begin to understand. So let us use his knowledge and follow all future updates of gtk.
But openbox needs an extra folder - openbox-3 that is not included - we get this folder from AUR but we need to finetune it with the colours we

[2017-03-27 07:15] #20 closed

[2017-03-27 07:16] erikdubois commented on #23
up to you.
close it if you decide

[2017-03-27 07:22] Dobbie03 commented on #23
Yeah I'm going to close this one.

[2017-03-27 07:22] #23 closed

[2017-03-27 07:24] Dobbie03 commented on #25
Great stuff Erik.  Shall we include the default Arc theme with the intention of having a ArchLabs version come +5?

[2017-03-27 07:43] erikdubois commented on #25
Option 1 :
Included as one of the selections to theme your system (short-term)

Option 2 :
make it the standard theme when you boot into the system (iso installation)
(mid-term decision)

Option 3 :
Use bunsenlabs themes - who is going to maintain and do we have this knowledge at all. Is it better looking then Arc?

Theming your distro is a package deal - the theme on its own ... is ok but
the des

[2017-03-29 07:08] Dobbie03 opened #27 "Script to remove Virtualbox modules"
We need a script that resides in the home folder so that after installation the user can easily remove the virtualbox modules

Needs to contain:

sudo pacman -Rns virtualbox-guest-utils virtualbox-guest-modules-arch
sudo rm /etc/modules-load.d/virtualbox.conf

[2017-03-29 17:49] osgyan commented on #27
This needs to be done at Calamares Level, The Installer should be able to remove these once installation is done. I need to run through the Calamares source code to put this in

[2017-03-30 04:33] Dobbie03 commented on #27
I'll change this to a bug in the meantime.

[2017-03-30 11:39] osgyan commented on #25
Included in +3.2 Build

[2017-03-30 11:39] #25 closed

[2017-03-30 11:40] osgyan commented on #21
Included in +3.2

[2017-03-30 11:40] #21 closed

[2017-03-30 11:40] osgyan commented on #14
Removed gimp from 3.2, it will be added again along with Splash Screen. Need to talk to Brett about how to get that moving

[2017-03-30 11:41] osgyan commented on #8
Included in +3.2

[2017-03-30 11:41] #8 closed

[2017-03-30 11:41] osgyan commented on #7
included in +3.2

[2017-03-30 11:41] #7 closed

[2017-03-30 11:42] osgyan commented on #18
included a bunch in +3.2. Please reopen issue if that is not what was requested.

[2017-03-30 11:43] osgyan commented on #4
included in +3.2

[2017-03-30 11:43] #4 closed

[2017-03-30 11:43] osgyan commented on #6
Included in +3.2 and working like a champion

[2017-03-30 11:43] #6 closed

[2017-03-30 11:44] osgyan commented on #3
exo-open is there .. not sure what it does.

[2017-03-30 11:44] #3 closed

[2017-03-30 11:47] osgyan commented on #15
Not only do we need LSB release we also need the ASCII logo. We need to work with Screenfetch package upstream to include ArchLabs as a supported distro, or we need to maintain a patched version of screenfetch in our repo so people can use it from there.

[2017-03-30 11:47] osgyan commented on #2
Saved for +3.3

[2017-03-30 11:50] osgyan opened #28 "Fix polkit Authentication prompts for members of %wheel% Globally"
Currently we have problems in mounting drives on click and launching programs like gparted without prompts. We need to remove gnome-polkit and replace it with xfce-polkit-aur. Also add the polkit rule to allow members of wheel group to automatically mount drives etc..

[2017-03-30 11:50] osgyan commented on #28
For +3.3

[2017-03-30 11:58] osgyan commented on #1
Alredy there in +3.2

[2017-03-30 11:58] #1 closed

[2017-03-30 13:02] osgyan commented on #2
In 3.3.1 and also in the archlabs_repo now. Please sync and install it now

[2017-03-30 13:02] osgyan commented on #11
In 3.3.1 and in archlabs_repo sync and install it now

[2017-03-30 13:03] osgyan commented on #28
in 3.2.1  Included in build

[2017-03-30 13:03] #28 closed

[2017-03-30 15:42] osgyan commented on #5
included now in +3.3 Release which will release today!

[2017-03-30 15:42] #5 closed

[2017-03-30 15:43] osgyan commented on #9
Included in +3.3 Which will be released today.

[2017-03-30 15:43] #9 closed

[2017-03-30 15:44] osgyan commented on #13
What is this about ? Do we want to include dropbox?

[2017-03-31 04:29] Dobbie03 commented on #13
No we don't.

Closing,

[2017-03-31 04:29] #13 closed

[2017-03-31 04:29] Dobbie03 commented on #27
@osgyan can this be closed mate?

[2017-03-31 06:53] erikdubois opened #29 "Archlabs 3.2.1 : remove quake"
Remove quake from tint2 and installation

[2017-03-31 06:56] erikdubois opened #30 "Archlabs 3.2.1: abif-master"
secondary installer ?
Do we need it?
Does it take up much space?
if not install it

[2017-03-31 07:10] erikdubois opened #31 "Archlabs 3.2.1 : obmenu-generator"
you can install the application obmenu-generator - not much KB
but the OB menu should be the standard from obmenu and no reference to the application obmenu-generator anywhere in the menu.  It was decided at [https://github.com/ARCHLabs/Openbox-Configs/issues/18](https://github.com/ARCHLabs/Openbox-Configs/issues/18)

[2017-03-31 07:14] erikdubois opened #32 "ArchLabs 3.2.1 : Openbox folder"
Old version with minecraft still in it. based on obmenu-generator
copy/paste from github
[https://github.com/ARCHLabs/Openbox-Configs](https://github.com/ARCHLabs/Openbox-Configs)
Use this openbox configuration in next release

[2017-03-31 07:16] erikdubois opened #33 "ArchLabs 3.2.1 : termite"
Use termite as standard terminal not xterm. (obmenu-generator)
[https://github.com/ARCHLabs/Openbox-Configs/issues/23](https://github.com/ARCHLabs/Openbox-Configs/issues/23)

[2017-03-31 07:28] erikdubois opened #34 "Archlabs 3.2.1 : mailclient"
noticed in the preferred applications that we do not have a mail client
geary, thunderbird, evolution, ...

[2017-03-31 07:29] erikdubois opened #35 "Archlabs 3.2.1 : browser - Lynx"
Do we need or want lynx?

[2017-03-31 07:29] erikdubois opened #36 "Archlabs 3.2.1 : browser - W3M text browser"
do we need or want this one?

[2017-03-31 07:49] erikdubois commented on #11
Papirus icon is not installed in ARCHLabs 3.2.1
Normal ?

[2017-03-31 07:55] erikdubois commented on #2
close when it is included

[2017-03-31 07:56] erikdubois commented on #15
correct

[2017-03-31 07:57] erikdubois commented on #3
confirmed installed in archlabs 3.2.1
gives the user the choice what to run
you can set your preferred applications (browsers, mail, terminal, file manager)
man exo-open

[2017-03-31 07:58] erikdubois commented on #6
confirmed in Archlabs 3.2.1

[2017-03-31 08:02] erikdubois commented on #4
confirmed in archlabs 3.2.1

[2017-03-31 08:03] erikdubois commented on #18
not quite pleased with the wallpapers I saw on [https://github.com/ARCHLabs/archlabs_wallpaper](https://github.com/ARCHLabs/archlabs_wallpaper)

are these competition wallpapers?

[2017-03-31 08:05] erikdubois commented on #7
confirmed in archlabs 3.2.1

[2017-03-31 08:05] erikdubois commented on #8
confirmed in archlabs 3.2.1

[2017-03-31 08:05] erikdubois commented on #14
Why remove gimp.... ?
essential application

[2017-03-31 08:06] erikdubois commented on #21
confirmed in archlabs 3.2.1

[2017-03-31 08:06] erikdubois opened #37 "Archlabs 3.2.1 : gimp missing"

[2017-03-31 08:08] erikdubois opened #38 "Archlabs 3.2.1 : Thunar and Pcmanfm"
Do we need both?
Thunar would be my choice. Fast and extendible with scripts

[2017-03-31 08:09] erikdubois opened #39 "Archlabs 3.2.1 : leafpad"
Did we have leafpad in previous releases?
Wondering. Geany was/is standard.

[2017-03-31 08:10] erikdubois opened #40 "Archlabs 3.2.1 : include sublime-text"
Including sublime-text gives you an easy way to change files that are normally protected.

[2017-03-31 08:16] erikdubois opened #41 "Archlabs 3.2.1 : lock screen"
new lockscreen - some kind of black fiber?
Is that ok?

[2017-03-31 08:49] erikdubois opened #42 "Archlabs 3.2.1 : Openbox Menu's - Display Keybinds - pipemenu's al-kb-pipemenu"
Since ~/.config/openbox is not based on github of [https://github.com/ARCHLabs/Openbox-Configs](https://github.com/ARCHLabs/Openbox-Configs) I have deleted the openbox folder of Archlabs 3.2.1 and copy/pasted.

[2017-03-31 08:59] erikdubois opened #43 "Archlabs 3.2.1 : inkscape"
Include inscape in installation or exclude in menu

[2017-03-31 09:01] erikdubois opened #44 "Archlabs 3.2.1 : audacious"
include audacious with installation or exclude in menu

[2017-03-31 09:03] erikdubois opened #45 "Archlabs 3.2.1 : smplayer"
include smplayer or exclude in menu

[2017-03-31 09:03] erikdubois opened #46 "Archlabs 3.2.1 : audacity"
include application or exclude from menu

[2017-03-31 09:04] erikdubois opened #47 "Archlabs 3.2.1 : openshot-qt"
include application or exclude in menu

[2017-03-31 09:05] erikdubois opened #48 "Archlabs 3.2.1 : gtk-recordMyDesktop"
include application or exclude from menu

[2017-03-31 09:06] erikdubois opened #49 "Archlabs 3.2.1 : opera"
install application or exclude from menu

[2017-03-31 09:08] erikdubois commented on #19
Dropbox is included in the menu - I will get rid of it there and also the category - SERVICES.

[2017-03-31 09:14] erikdubois opened #50 "Archlabs 3.2.1 : gnumeric"
install application or exclude from menu

[2017-03-31 09:15] erikdubois opened #51 "Archlabs 3.2.1 : subl3"
install application or exclude from menu

[2017-03-31 09:17] erikdubois commented on #42
all other pipemenu's
compton
help
conky
printer
...

[2017-03-31 09:25] erikdubois opened #52 "Archlabs 3.2.1 : opening something with sudo takes very long"
gparted  (root)
file manager as root
texteditor as root

they all take longer then previous versions imo
to be confirmed

[2017-03-31 09:34] erikdubois opened #53 "Archlabs 3.2.1 : preferences - dmenu"
can we get rid of the category help for dmenu?
can we get rid of man page for dmenu?

[2017-03-31 09:37] erikdubois opened #54 "Archlabs 3.2.1: gmrun delete in menu"
can we get rid of the menu gmrun
edit config file does not work
delete category help
delete man page

[2017-03-31 09:39] erikdubois opened #55 "Archlabs 3.2.1 : Preferences Display"
keep Arandr
delete Help? category
delete Man xrandr

change menu?

[2017-03-31 12:54] toola69 commented on #55
Yes go ahead

[2017-03-31 12:55] toola69 commented on #55
Go ahead with this

[2017-03-31 12:55] osgyan commented on #55
Keeping Track for th Iso.. Please only Comment. I will close upon including in Iso.

[2017-03-31 12:56] toola69 commented on #54
go ahead

[2017-03-31 12:56] toola69 commented on #53
Yes go ahead

[2017-03-31 12:56] erikdubois commented on #55
ok i will assign myself to this task.

[2017-03-31 12:57] toola69 commented on #51
exclude from menu

[2017-03-31 12:57] toola69 commented on #52
cant simulate on my version..

[2017-03-31 12:58] toola69 commented on #50
need a script for the menu

[2017-03-31 12:58] toola69 commented on #49
exclude from menu

[2017-03-31 12:58] toola69 commented on #48
exclude from menu

[2017-03-31 12:59] toola69 commented on #47
exclude from menu or openshot-gtk

[2017-03-31 12:59] toola69 commented on #46
exclude from menu

[2017-03-31 13:00] toola69 commented on #45
exclude from menu

[2017-03-31 13:00] toola69 commented on #44
keep audacious in the menu as the only music player

[2017-03-31 13:00] toola69 commented on #43
exclude from menu

[2017-03-31 13:01] erikdubois commented on #55
updated - closing

[2017-03-31 13:01] #55 closed

[2017-03-31 13:02] toola69 commented on #42
Please use openbox configs from github

[2017-03-31 13:02] toola69 commented on #41
This definitely needs a new theme...

[2017-03-31 13:03] erikdubois commented on #43
comitted

[2017-03-31 13:03] #43 closed

[2017-03-31 13:03] toola69 commented on #40
Please keep geany

[2017-03-31 13:03] toola69 commented on #39
remove leafpad and remove from menu

[2017-03-31 13:04] toola69 commented on #38
remove pcmanfm

[2017-03-31 13:04] erikdubois commented on #39
ok
assign menu stuff to me

[2017-03-31 13:04] toola69 commented on #37
install gimp and add to menu

[2017-03-31 13:05] erikdubois commented on #39
not in our menu - must have been in obmenu-generator
delete it from application list?

[2017-03-31 13:06] erikdubois commented on #37
gimp in menu
now we need to add it to the application list @osgyan

[2017-03-31 13:06] toola69 commented on #36
we need w3m to show the image in neofetch or we use screenfetch with our own ascii logo.
Ascii logo needs to be designed....

[2017-03-31 13:06] toola69 commented on #35
remove lynx

[2017-03-31 13:06] toola69 commented on #34
install thunderbird

[2017-03-31 13:07] toola69 commented on #33
remove termite and install terminator as in Bunsenlabs.....

[2017-03-31 13:07] toola69 commented on #32
Use openbox configs from Github

[2017-03-31 13:09] toola69 commented on #54
Erik could you please go through the menu and make sure its up to date with the changes from the list we have here....

[2017-03-31 13:11] toola69 commented on #52
Matt can you please look at this. Is it doing the same on your version

[2017-03-31 13:11] erikdubois commented on #54
okidoki
the menu is mine

[2017-03-31 13:13] erikdubois commented on #54
committed

[2017-03-31 13:13] #54 closed

[2017-03-31 13:13] erikdubois commented on #33
ok will change the menu
@osgyan remove termite and install terminator

[2017-03-31 13:15] erikdubois commented on #33
termite pops up in the help section only since we use exo-open now
` termite -T 'man dmenu' -e man dmenu`
not sure if terminator is accepting the same line of code
investigation required

[2017-03-31 13:16] toola69 commented on #31
Please remove obmen-generator @osgyan

[2017-03-31 13:17] erikdubois commented on #36
i do not know if this is the same
i found it in the obmenu-generated menu ...

[2017-03-31 13:17] toola69 commented on #30
Please remove this if calamares is working ok @osgyan
@erikdubois is Calamares opening quicker for you

[2017-03-31 13:17] toola69 commented on #29
Please remove quake @osgyan

[2017-03-31 13:22] erikdubois commented on #30
no really since i thought it had crashed

[2017-03-31 13:22] erikdubois commented on #38
pcmanfm not in menu
@osgyan can you remove pcmanfm from application list

[2017-03-31 13:23] erikdubois commented on #40
ok closing

[2017-03-31 13:23] #40 closed

[2017-03-31 13:25] erikdubois commented on #45
committed

[2017-03-31 13:25] #45 closed

[2017-03-31 13:25] erikdubois commented on #46
committed

[2017-03-31 13:25] #46 closed

[2017-03-31 13:26] toola69 commented on #39
@erikdubois Yes mate

[2017-03-31 13:27] erikdubois commented on #47
committed
BUT also deleted label Editors
is now empty

[2017-03-31 13:27] #47 closed

[2017-03-31 13:28] erikdubois commented on #39
@osgyan please delete leafpad from application list

[2017-03-31 13:28] erikdubois commented on #48
committed

[2017-03-31 13:28] #48 closed

[2017-03-31 13:29] erikdubois commented on #49
committed

[2017-03-31 13:29] #49 closed

[2017-03-31 13:29] erikdubois commented on #50
why do you need a script??

[2017-03-31 13:31] erikdubois commented on #53
committed

[2017-03-31 13:31] #53 closed

[2017-03-31 13:36] erikdubois commented on #51
has been excluded

[2017-03-31 13:36] #51 closed

[2017-03-31 13:37] erikdubois commented on #41
i believe the theme was the wallpaper with golden logo which was fine by me

[2017-03-31 13:41] #19 closed

[2017-03-31 13:55] toola69 commented on #52
@Dobbie03 I cant simulate this on my version mate.

[2017-03-31 13:56] toola69 commented on #2
@erikdubois This has been added to the list. I will close this now

[2017-03-31 13:56] #2 closed

[2017-03-31 13:58] toola69 commented on #50
@erikdubois I was thinking we dont install Libreoffice and just give them gnumeric to get started. I was thinking of scripts to install software like Bunsen has but no we will do this way instead.
@osgyan Please install this

[2017-03-31 14:09] toola69 commented on #41
@osgyan Go ahead with this mate. No wallpaper change

[2017-03-31 14:10] erikdubois commented on #50
I never ever use libreoffice and stay in geany or sublime-text but the average user is not writing scripts...
I would install it too.
assigning it to @osgyan

[2017-03-31 14:15] erikdubois commented on #2
ok

[2017-03-31 16:53] Dobbie03 commented on #29
+ From me on this.

[2017-03-31 16:54] Dobbie03 commented on #30
abif is handy to have for those who have Calamares fail on them.  I'd leave this in.

[2017-03-31 16:55] Dobbie03 commented on #44
+ From me.

[2017-03-31 16:59] Dobbie03 commented on #41
Closing.

[2017-03-31 17:00] Dobbie03 commented on #36
I don't think this is required.  User can install if need be.

[2017-03-31 17:01] Dobbie03 commented on #33
I found that the only terminal that work which commands from obmenu is URXVT.

[2017-03-31 17:09] erikdubois commented on #33
fine tell @osgyan what he needs to do

[2017-03-31 17:11] erikdubois commented on #41
only lock issues if solved
@osgyan will need to change this - but since he starts from scratch from an earlier version this might be in order already
@osgyan it is up to you to close this one

[2017-03-31 17:12] erikdubois commented on #30
I had to use it also in the past.
if maintenance is low and MB are low, I would include it too.

[2017-03-31 17:13] erikdubois commented on #29
@Dobbie03 to clear what you mean with this remark

[2017-03-31 17:44] Dobbie03 commented on #38
Thunar please.  I have on my system PCmanFM installed as a back up but I very rarely use it.

[2017-03-31 17:46] Dobbie03 commented on #31
This needs to go.

[2017-03-31 17:48] Dobbie03 commented on #35
No, Firefox and Chromium.
The user can decide to use a different browser if they wish.

[2017-03-31 17:49] Dobbie03 commented on #39
Geany is our preferred editor.

[2017-03-31 17:51] Dobbie03 commented on #34
I don't think this is needed.  Most OB users in my experience seem to either use Mutt or check email online.

Including Thunderbird just adds extra to the ISO that isn't really required.  If the user really wants a email client then they will install one.

[2017-03-31 17:52] Dobbie03 commented on #33
@osgyan please leave Termite and URXVT as the treminals.

@erikdubois the menu is good as it is other than the exo entries

[2017-03-31 17:56] Dobbie03 commented on #52
@toola69 @erikdubois I am having this issue too.  Ran "gksu thunar" from terminal, no outputs and approx 1 minute later a root thunar opened up.

After a reboot a root thunar opens instantly.

[2017-03-31 17:59] erikdubois commented on #52
aha did not reboot

[2017-03-31 19:08] Dobbie03 commented on #52
Can we close this one?

[2017-03-31 19:08] Dobbie03 commented on #30
@osgyan please include this in the package list for +4.

[2017-03-31 19:09] Dobbie03 commented on #29
Sorry was + 1 from me.

[2017-03-31 19:15] Dobbie03 commented on #11
Not installed, needs to be added to next release.

[2017-03-31 19:16] Dobbie03 commented on #18
No, these were contributions from Karl Schneider.

Let me know what you would prefer to see.

[2017-03-31 19:18] Dobbie03 commented on #18
Also we have had minimal interest in the competition.  I asked Duncan Pringle and Karl Schneider to contribute some work.

[2017-03-31 19:19] Dobbie03 commented on #14
@erikdubois seems to be a temporary removal, @osgyan will add it with the updated splash.

[2017-03-31 19:21] Dobbie03 commented on #15
I have attempted a number of times to get the ASCII logo to work with Neofetch to no avail.

Apparently there is a maximum size we need to keep to, I have had no lick in recreating a satisfactory logo in ASCII.

[2017-03-31 19:29] erikdubois commented on #52
let us leave it and test it on the next release

[2017-04-01 02:25] Dobbie03 commented on #41
By the way this is what the lockscreen should look like

![archlabs](https://cloud.githubusercontent.com/assets/14961904/24574462/69d11bce-16ef-11e7-81f8-707266c34526.png)

[2017-04-01 04:51] erikdubois commented on #41
thanks @Dobbie03 a picture clears things up

[2017-04-01 05:20] Dobbie03 opened #56 "Still have CSD in Pamac"
As the title indicates I still have CSD enabled in Pamac, screenshot link attached.

![screenshot_2017-04-01_18-17-31](https://cloud.githubusercontent.com/assets/14961904/24575622/d5313ce2-1707-11e7-9b4c-9b8d36d03d7a.png)

[2017-04-01 05:57] erikdubois commented on #56
You lost me here?

[2017-04-01 05:59] Dobbie03 commented on #56
Take a look at the screenshot, we still have client side decorations enabled as well as a title bar.  We wanted CSD disabled in place of titlebar controls.

[2017-04-01 06:00] erikdubois commented on #56
I believe I heard Rajat talk about that.
I will assign it to him.

[2017-04-01 06:00] Dobbie03 commented on #50
Let's do away with LibreOffice and run with gnumeric and geany.  Any other suggestions?  Obmenu will need to be updated to suit.

[2017-04-01 06:01] Dobbie03 commented on #50
Also helps us deliver a smaller ISO.

[2017-04-01 06:01] Dobbie03 commented on #41
I think this can be closed as it isn't really a bug and all questions have been answered.

[2017-04-01 06:02] erikdubois commented on #50
I would like to keep libreoffice even though I never use it. I know it takes place. I have never seen a distro without some kind of Office tool.

[2017-04-01 06:03] Dobbie03 commented on #50
What if we can deliver the same with alternatives.  I very rarely use LO myself.  I'm going to boot up a live ISO of BL to see what they have on offer.

[2017-04-01 06:03] erikdubois commented on #41
But will @osgyan include it into his iso?

[2017-04-01 06:05] erikdubois commented on #50
bunsenlabs
provides libreoffice writer
and the rest needs to be installed with scripts

[2017-04-01 06:06] erikdubois commented on #50
personnally I do not like these installation scripts
we have had them in the past and we abandoned them

[2017-04-01 06:08] Dobbie03 commented on #50
I agree, if we could provide a welcome script a lot of the extra packages we want could be installed after install.

[2017-04-01 06:08] erikdubois commented on #15
i would contact screenfetch and explain our case

[2017-04-01 06:09] erikdubois commented on #50
that is not what i am saying

[2017-04-01 06:09] Dobbie03 commented on #15
@toola69 I know you approached someone, did you have a reply?

[2017-04-01 06:10] erikdubois commented on #50
then you need obmenu-generator
your menu is **static**
people would install stuff that will never show up

[2017-04-01 06:11] erikdubois commented on #50
we do not have to make things more complex then they are
leave libreoffice in for now and we will see later

[2017-04-02 07:02] Dobbie03 opened #57 "Proposal - Replace Mirage with Gpicview"
This is based purely on aesthetic reasons.  Mirage is actually ugly as sin, Gpicview has a nicer look to it

Mirage:

![mirage](https://cloud.githubusercontent.com/assets/14961904/24585125/dd5f7f76-17d6-11e7-914a-ba3bfb131c70.png)

Gpicview:

![gpicviewer](https://cloud.githubusercontent.com/assets/14961904/24585127/e51a44d0-17d6-11e7-8265-ca512305ea7a.png)

Adds a nicer look to Dsitro.

@erikdubo

[2017-04-02 07:16] Dobbie03 opened #58 "Gmrun taking over alt+f2"
Gmrun is taking over rc.xml keybinds which wants to call Drun.

Solution, remove all keyboard shortcuts from XFCE4-keyboard-settings

[2017-04-02 07:16] erikdubois commented on #57
anything is better then mirage
go

[2017-04-02 07:59] Dobbie03 commented on #57
@osgyan , please replace Mirage with Gpicview

[2017-04-02 08:03] erikdubois commented on #57
`			<menu id="screenshot" label="Screenshooter">
				<item label="Screenshot in 5">
					<action name="Execute">
						<command>scrot -d 5 'ARCHLabs.png' -e  'mv $f ~/Pictures/ ; mirage ~/Pictures/$f'</command>
					</action>
				</item>
				<item label="Screenshot in 10">
					<action name="Execute">
						<command>scrot -d 10 'ARCHLabs.png' -e  'mv $f ~/Pictures/ ; mirage ~/Pictures/$f'</command

[2017-04-02 08:05] Dobbie03 commented on #57
I have tested already on my system, hence my proposal.  I will adjust the menu.xml to suit.

[2017-04-02 08:09] Dobbie03 commented on #57
Changes have been made, feel free to test.

[2017-04-02 09:33] erikdubois opened #59 "lockscreen on livecd"
I have build a new iso on the basis of the github. Let us call it 3.2.3 and i used the lock in the menu
Does the liveuser have a password? because it is NOT liveuser.
I locked myself out and had to reboot

[2017-04-02 09:35] erikdubois opened #60 "Calamares"
I could not start calamares. The incident was reported to the administrator though...
Did you get it?
Lol

[2017-04-02 09:38] erikdubois commented on #58
alt + F2 is app finder of xfce here
an idea ?

[2017-04-02 16:59] osgyan commented on #58
Removed XFCE-Settings-Editor and XFCE-Appearance.. want to keep xfce shit out of this... gmrun is enabled in 3.3 Could be changed to drun if people don't like it..

[2017-04-02 16:59] #58 closed

[2017-04-02 17:01] osgyan commented on #56
This will stay However we also have our window borders, It looks a bit odd, However it is not completely out of place. The best we can integrate the GTK apps so far. I am open to suggestions if any for improving this further. Please open an issue with suggestions to do it better. We will take care of it then

[2017-04-02 17:01] #56 closed

[2017-04-02 17:02] osgyan commented on #59
Fixed in 3.3

[2017-04-02 17:02] #59 closed

[2017-04-02 17:07] osgyan commented on #52
Still Testing this will update

[2017-04-02 17:07] osgyan commented on #44
included

[2017-04-02 17:07] #44 closed

[2017-04-02 17:10] osgyan commented on #50
We have both now in 3.3  Make a choice please for 3.4

[2017-04-02 17:10] #50 closed

[2017-04-02 17:12] osgyan commented on #42
Used all configs from Github.. Please confirm and re-open the bug if issue exists

[2017-04-02 17:12] #42 closed

[2017-04-02 17:13] osgyan commented on #41
Slimlock theme is in now in 3.3 closing

[2017-04-02 17:13] #41 closed

[2017-04-02 17:13] osgyan commented on #39
Too Late.. Leafpad is still there.. Please save it for 3.4

[2017-04-02 17:14] osgyan commented on #38
PacmanFM is still there will remove it in 3.4. 3.3 focussed more on fixing Openbox itself

[2017-04-02 17:15] osgyan commented on #37
Included in 3.3.. Please eaise a bug with Instructions for adding the Gimp Splash and I will include in 3.4 Next Week.

[2017-04-02 17:15] #37 closed

[2017-04-02 17:15] osgyan commented on #36
user can add it if needed.. Closing

[2017-04-02 17:15] #36 closed

[2017-04-02 17:17] osgyan commented on #35
I think Lynx is not in the menu any more.. Please check and reopen if it still exists there.

[2017-04-02 17:17] #35 closed

[2017-04-02 17:19] osgyan commented on #34
OB users are generally advanced users.. all we need to ship is a out of the box working system and they can add more software themselves.. I have a vision of ARCHLABS as a platform with Minimum application choices made by us and let users decide what they want.. We are targeting advanced linux users

[2017-04-02 17:19] #34 closed

[2017-04-02 17:20] osgyan commented on #33
both are in.  However we need to think about this becasue BL has terminator. I also perfer Terminator, this is just a suggestion. Terminte is OK too. Please re-open with a request to add Terminator.

[2017-04-02 17:20] #33 closed

[2017-04-02 17:21] osgyan commented on #32
That is what was used.in 3.3

[2017-04-02 17:21] #32 closed

[2017-04-02 17:21] osgyan commented on #31
Removed in 3.3

[2017-04-02 17:21] #31 closed

[2017-04-02 17:22] osgyan commented on #30
Currently it is not included. But will include it in next release. I reckon this is a better installer than Calamares.. We are targeting advanced users are we not ??

[2017-04-02 17:22] osgyan commented on #30
Keeping open till 3.4

[2017-04-02 17:23] osgyan commented on #29
removed.. No problems I can keep using it in my installations but not ship it in iso. 3.3 has no guake.

[2017-04-02 17:23] #29 closed

[2017-04-02 17:24] osgyan commented on #18
added in 3.3

[2017-04-02 17:24] #18 closed

[2017-04-02 17:24] osgyan commented on #14
Please add complete instructions for the configuration of these two Items and I will include this in next 3.4 build.

[2017-04-02 17:25] osgyan commented on #14
Please update instructions. I will include in 3.4

[2017-04-02 17:25] osgyan commented on #11
It is in the archlabs_repos. Install it with sudo pacman -S papirus-icons

[2017-04-02 17:25] #11 closed

[2017-04-02 17:42] osgyan commented on #15
ASCII won't work well with neofetch..We need screenfetch.. fork it and add our changes and try pushing those upstream.. Like other distros have done..

[2017-04-02 17:43] osgyan commented on #60
Nope.. fixed in 3.3 works fine.. just takes a bit of time

[2017-04-02 17:43] #60 closed

[2017-04-02 17:43] erikdubois commented on #60
yes it takes a bit of time in previous releases as well strange

[2017-04-02 20:56] erikdubois opened #61 "Updated openbox tint2 and conky folder from github in skel"
we have now a folder **scripts** to copy files from local github and put them in the correct folder
.config/openbox
.config/tint2
.config/conky

I have added now a script to build an iso automatically as well

more to come

information for RAJ

[2017-04-02 20:58] erikdubois opened #62 "users will get wallpapers in their personal Pictures folder"
archlabs-iso/archiso/airootfs/etc/skel/Pictures/
Personally I would not appreciate this.
The wallpapers are in /usr/share/background
Proposal: delete from iso

[2017-04-03 00:07] erikdubois opened #63 "Archlabs 3.3.1 : wallpaper does not load on start up"
grey background
check autostart

[2017-04-03 06:03] Dobbie03 commented on #30
@osgyan I'd like to leave ABIF. It's a good back up to Calamares and it's my preferred install option.

[2017-04-03 06:04] Dobbie03 commented on #15
I personally prefer Neofetch but if the majority prefers Screenfetch I am happy.

[2017-04-03 06:05] Dobbie03 commented on #14
@toola69 can you add the new splash to the repo please.

[2017-04-03 06:06] Dobbie03 commented on #62
I don't like wallpapers from any distribution being in my personal pictures folder either.

Best idea is to move them to the /usr/share/backgrounds folder.

[2017-04-03 06:23] erikdubois commented on #62
ok done

[2017-04-03 06:23] #62 closed

[2017-04-03 06:24] erikdubois commented on #62
moved them to /usr/share/background

[2017-04-03 06:25] erikdubois commented on #30
has been added to iso.
I believe it is called AIF
or is this something else

[2017-04-03 08:28] osgyan commented on #61
Did you make changes to archlabs-iso or individual folders on Github for OpenBox Configurations ?

[2017-04-03 09:44] erikdubois commented on #61
Oh yes i made changes - like we told over the phone 3/4/2017

[2017-04-03 09:45] #61 closed

[2017-04-03 13:25] #63 closed

[2017-04-03 13:28] erikdubois opened #64 "Archlabs 3.3.3 : ALOB folder on archiso"
The application Alob will save date to folder ~/.config/blob.

I think ALOB is old remnants and can be deleted
Archlabs-Iso/archiso/airootfs/etc/skel/.config/ALOB/

[2017-04-03 13:29] erikdubois opened #65 "Archlabs 3.3.3 : delete al-exit - oblogout"
issue discussed on other github
reminder
to do

[2017-04-03 13:30] erikdubois opened #66 "Archlabs 3.3.3 : empty bunsen folder"
Archlabs-Iso/archiso/airootfs/etc/skel/.config/bunsen/

do we need this if not delete.

[2017-04-03 13:40] erikdubois opened #67 "Archlabs 3.3.3 : gpicview missing"
added to arch-iso installation list

[2017-04-03 14:11] erikdubois commented on #52
This seems to be solved in 3.3.
TO BE CONFIRMED!

[2017-04-03 14:28] erikdubois opened #68 "Request to add to repo's - breeze snow cursor"
0 aur/breeze-snow-cursor-theme 1.0-3 (15)
    Breeze Snow cursor theme.

Can we add this one to the installation?
Can you explain how to do this task?
Film it?

[2017-04-03 14:36] #67 closed

[2017-04-03 14:36] erikdubois commented on #65
go or no go

[2017-04-03 15:39] erikdubois opened #69 "Archlabs 3.3.4 : preferred applications"
in obmenu you can choose terminal
a popup comes up
![chooseprefferredapplication](https://cloud.githubusercontent.com/assets/10594806/24617504/6231c8ae-1894-11e7-8f37-ae13ecb3ea19.png)

You can only choose
rxvt unicode
x terminal
and we have so many more terminals.

How to get the rest in the dropdown? Would be nice.

[2017-04-03 15:57] erikdubois commented on #57
has been committed

[2017-04-03 15:57] #57 closed

[2017-04-04 02:15] toola69 opened #70 "Menu Terminal"
@osgyan @erikdubois
When clicking on terminal in the menu it asks to choose a terminal.
Can we make it launch termite.

[2017-04-04 02:17] toola69 opened #71 "Menu link for File Manager"
@osgyan @erikdubois
When clicking on File manager in the terminal it asks for preferred application
Can we make it open Thunar

[2017-04-04 05:28] erikdubois commented on #71
yes we can
/home/erik/.config/xfce4/helpers.rc
done

FileManager=thunar
TerminalEmulator=termite
WebBrowser=chromium

ARE THESE CHOICES OK THEN CLOSE.

[2017-04-04 05:29] erikdubois commented on #70
see #71

[2017-04-04 05:35] Dobbie03 commented on #69
Doesn't it give you an option to type the terminal you want?

[2017-04-04 05:36] Dobbie03 commented on #65
Get rid of AL-Exit, obmenu + Sardi.

[2017-04-04 05:37] Dobbie03 commented on #64
I had originally converted all the folders/configs/scripts from BL to AL.  This maybe one I missed.

[2017-04-04 05:39] Dobbie03 commented on #66
Kill it.  Kill it dead.

[2017-04-04 05:40] toola69 commented on #71
Erik can we please change TerminalEmulator to terminator

[2017-04-04 05:40] Dobbie03 commented on #71
Go ahead please Erik.

[2017-04-04 05:41] erikdubois commented on #71
ok committed

[2017-04-04 05:41] #71 closed

[2017-04-04 06:00] osgyan opened #72 "ArchLabs3.4-- Solution Interactive Prompts while running Buid.sh"
Please edit /usr/bin/mkarchiso file and search for pacstrap. There will be two lines, remove the -i from both lines and then save it. Next time it will not ask for pressing Yes, Try it and let me know how it goes.

[2017-04-04 06:02] osgyan opened #73 "3.4 We need AUR pacakges compiled and added to repo"
Yes we do need to compile the packages from AUR and add them to repo, Update the repo and sync changes to git. This is because mkarchiso does not support AUR. So we compile AUR pacakges and either put them in a local repo or put them into archlabs_repo. Let me know if this is not clear.

[2017-04-04 06:29] erikdubois commented on #73
clear but do put them online.
by the way I have changed the names on archlabs github
can we change your repo archlabs-repo to Archlabs-Repo
and
archlabs-keyring to Archlabs-Keyring

I did not dare change it. No repercussions?

[2017-04-04 06:30] erikdubois commented on #72
yes thanks
closing

[2017-04-04 06:30] #72 closed

[2017-04-04 06:33] erikdubois commented on #66
done

[2017-04-04 06:33] #66 closed

[2017-04-04 06:33] erikdubois commented on #65
ok

[2017-04-04 06:37] osgyan commented on #73
Removed archlabs-repo.. We will use archlabs_repo

[2017-04-04 06:40] erikdubois commented on #65
done

[2017-04-04 06:40] #65 closed

[2017-04-04 06:43] erikdubois commented on #73
ok closing

[2017-04-04 06:43] #73 closed

[2017-04-04 06:43] #70 closed

[2017-04-04 06:44] erikdubois commented on #69
yes you can type
but how can the user know what we installed
there are 6 of them
remember my screenshot with all the terminal that i pimped to look like the arc theme

[2017-04-04 06:45] erikdubois commented on #64
not clear if i can delete it

[2017-04-04 06:47] erikdubois commented on #39
mirage and leafpad of the application list closing

[2017-04-04 06:47] #39 closed

[2017-04-04 07:05] toola69 opened #74 "Pamac has twin decoration bars"
@osgyan pamac has two sets of buttons on top of each other mate.

[2017-04-04 07:08] erikdubois commented on #74
![pamacupdater](https://cloud.githubusercontent.com/assets/10594806/24644928/4d02b45c-1916-11e7-9a08-acefd26b31a1.png)

[2017-04-04 07:11] toola69 opened #75 "Editing menu using obmenu"
@Dobbie03 @osgyan @erikdubois
When editing anything in the menu using obmenu as soon as I press save it kicks me out back to the login screen. Can anyone reproduce this?

[2017-04-04 07:12] erikdubois commented on #38
is gone in 3.3.4

[2017-04-04 07:12] #38 closed

[2017-04-04 07:13] erikdubois commented on #30
it is not yet included !!

[2017-04-04 07:16] erikdubois commented on #75
no can not reproduce it

[2017-04-04 07:30] Dobbie03 commented on #64
Best idea will be to rename it ~/.config/alob.

[2017-04-04 07:40] erikdubois commented on #64
try it out on the 3.3.4
as i think alob will not be used
it will make a blob??

[2017-04-04 08:07] Dobbie03 commented on #64
Will check it out.

[2017-04-04 12:00] toola69 commented on #75
@erikdubois @Dobbie03 @osgyan
I've tried everything I can but I am still at a loss people

[2017-04-04 19:52] erikdubois commented on #69
added file for termite to airootfs/etc/skel/.local/share/xfce4/helpers/
let us test if this works

[2017-04-04 21:35] erikdubois commented on #27
still open as
.xinitrc has the line
/usr/bin/VBoxClient-all

which gives us two notifications that virtual box is not running

[2017-04-04 23:14] erikdubois opened #76 "abif"
[http://archlabs.prophpbb.com/topic47.html](http://archlabs.prophpbb.com/topic47.html)

add in the folder mentioned on forum
sudo /abif-master/abif

[2017-04-05 05:48] Dobbie03 commented on #75
I just reproduced this on my system.

[2017-04-05 06:12] erikdubois commented on #76
strange though
script is called aif
where should I get the code from
url?

[2017-04-05 06:14] erikdubois commented on #64
in the mean did a lot of testing with this obmenu bug
imo you can delete it
i guess someone created this folder to have a backup of settings (just in case)
alob makes a directory blob
first time you run it it creates this folder blob and does a backup
second time you run it
nothing happens
if you rename blob to anything else
it runs again

Pretty sure I can delete it

[2017-04-05 06:15] erikdubois commented on #30
continues at @ #76

[2017-04-05 06:15] #30 closed

[2017-04-05 06:16] erikdubois commented on #52
closing this one we can always reopen

[2017-04-05 06:16] #52 closed

[2017-04-05 06:53] Dobbie03 commented on #64
Just delete it mate.

[2017-04-05 07:01] Dobbie03 commented on #76
That I cannot answer, @ajjames31 can you help here?

[2017-04-05 07:03] toola69 commented on #75
@Dobbie03 @osgyan @erikdubois
Can we just remove this guys.

[2017-04-05 07:04] toola69 commented on #68
Erik you just add the cursor theme to icons and pick them using lxappearance

[2017-04-05 07:05] Dobbie03 commented on #75
I agree.  Just remove obmenu.  But let's give @erikdubois until the end of the week to see if he can solve the issue.

[2017-04-05 07:06] toola69 commented on #22
I can do this guys @erikdubois @osgyan

[2017-04-05 09:04] erikdubois commented on #69
above code did not help
what if we launched we launced exo-prefferred applications only once after reboot
is it posssible to put this in the iso? @osgyan

[2017-04-05 09:30] osgyan commented on #75
I just fixed it on phone with Brett, The problem is with LightDM. If you remove/stop lightdm and use xinitrc to start the openbox session, this issue does not happen. We need to either fix LightDM/ Find what is wrong with that or use Slim as a displaymanager, We have not tested if the issue occurs with slim, It is also possible that obmenu is not compatible with any displaymanager, we do not know

[2017-04-05 09:30] #75 closed

[2017-04-05 09:31] osgyan commented on #74
This is ought to happen, We will have two bars without csd, At least the outer bar is the same as all other applications, We should not either use noCSD or use alternative non GTK applications. simple as that..

[2017-04-05 09:34] osgyan commented on #68
Compile it from AUR, Dump the created package into archlabs_repo (You should have git cloned that to your disk) update db (updaterepo.sh file to be exeucted) git push and add breeze-snow-cursor-theme to packages.both, Rebuild Image and it will be there.

[2017-04-05 09:34] #68 closed

[2017-04-05 09:35] osgyan commented on #64
It is there in archlabs/abif in case you need it again. We can remove it from the build for now.

[2017-04-05 09:35] #64 closed

[2017-04-05 09:37] osgyan commented on #10
dont't add stuff. We want whatever is in BL, if rofi is there add it if not don't add, User can install this from AUR if required.

[2017-04-05 09:37] #10 closed

[2017-04-05 09:37] osgyan commented on #76
check our github, I put it at ARCHLABS/abif

[2017-04-05 09:37] #76 closed

[2017-04-05 09:39] osgyan commented on #69
Please do  not add stuff out of BL. We are trying to bring BL experience to Arch Labs,, We need to have only what is there in BL, and the user can install stuff from AUR/ pacman.. Don't think tooo much..

[2017-04-05 09:39] osgyan commented on #69
Just choose from BL, create a config file and ship that..

[2017-04-05 10:33] erikdubois commented on #74
what can we to solve it?

[2017-04-06 06:28] Dobbie03 commented on #74
Is there a GTK2 version of Pamac or a similar styled update/package manager?

[2017-04-06 15:52] toola69 commented on #74
@Dobbie03 There is a terminal based one called pacli.
Its great mate I use it everyday

[2017-04-06 16:04] erikdubois opened #77 "Remove abif-master after installation"
add to cleanup script to delete folder /abif-master on root

[2017-04-06 16:10] erikdubois opened #78 "Ob-menu crashes"
Two solution

Manual
edit .xinitrc
delete exec openbox-session there
edit .xsession
add exec openbox-session here
REBOOT

Automatic via aur package
(re-edit - not sure anymore if this works)
solution 1 DOES work - stick to that

install xinit-xsession
it will make sure .xinitrc is started as a session
.xinitrc has the start code inside
exec openbox-session
.xsession has no excec code for openbox..

[2017-04-06 18:34] erikdubois commented on #74
i have used pacli as well previously to fix things (red lines)

[2017-04-06 18:35] erikdubois commented on #69
i want to keep looking when i have the time
if not... simple exo-open out and termite and thunar in

[2017-04-06 18:39] erikdubois opened #79 "thunar configure custom actions"
We should gather all our
**custom actions**
of thunar and include the best of them
my current list is now

- open terminal here
- set wallpaper single (same wallpaper on dual screen)
- set wallpaper dual  (dualscreen wallpaper)
- search with catfish
- extract here
- compare (meld)
- run (scripts)

[2017-04-06 19:43] erikdubois commented on #27
i can do this in the cleanup.sh
but this script will always on ssd or on virtualbox
we should included a bash script to figure out if we are on vb

[2017-04-06 20:20] erikdubois opened #80 "linux or linux-lts kernel"
was it your choice to use 4.10 kernel rather than the newest
people of arch expect to see the latest kernel.
include the newest in future releases?

[2017-04-06 23:08] Dobbie03 commented on #27
Sent using Boxer

On Apr 7, 2017 7:43 AM, Erik Dubois <notifications@github.com> wrote:

i can do this in the cleanup.sh
but this script will always on ssd or on virtualbox
we should included a bash script to figure out if we are on vb

—
You are receiving this because you were assigned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-04-07 05:10] Dobbie03 commented on #80
This was a suggestion of @toola69.

My personal preference is the latest kernel.  Failing that, can we add an option to choose either one?

[2017-04-07 05:11] Dobbie03 commented on #79
I'd like to see these included.

[2017-04-07 05:12] Dobbie03 commented on #74
What about a GUI option for those that prefer that option?

[2017-04-07 05:52] erikdubois opened #81 "pacman.conf"
Hide our personal repo so future updates will come from standard aur?
can be put in cleanup.sh if it works

[2017-04-07 06:03] Dobbie03 commented on #81
I agree, will this make us a proper rolling release?

[2017-04-07 06:04] Dobbie03 commented on #81
I don't have an issue with our repo being included.

[2017-04-07 07:37] erikdubois commented on #78
ok we will see in the future if we can make the scripts work...
deciding to delete it in the menu for now
keeping it in the applications.both
I hope Jody can fix this one in next release

[2017-04-07 07:39] erikdubois commented on #81
oomox and a few others are now behind
since the aur has been updated and not our repo
i have added issues for that in the repo of archlabs

can you @Dobbie03 experiment with pacman.conf and hashtag out our archlabs server
i think you will get the updates then from the aur and no more messages that our repo is not up to date

[2017-04-07 07:40] erikdubois commented on #80
let us figure this one out after release 3.4

[2017-04-07 07:42] erikdubois commented on #79
me too I am using them all the time
(not the wallpapers)

[2017-04-07 07:44] erikdubois commented on #77
waiting for input of Jody  @ajjames31

[2017-04-07 07:45] erikdubois commented on #74
if you delete the following installed package in packages.both this is solved
gtk3-nocsd-git

[2017-04-07 07:49] erikdubois commented on #22
system-config-printer needs be added to the applications.both file in order to have support
after release of 3.4

[2017-04-07 07:49] erikdubois commented on #69
closing this
the user chooses what he wants
extra menu Preferred applications as well

[2017-04-07 07:49] #69 closed

[2017-04-07 10:45] toola69 commented on #74
Install pacli and in the menu add Pacli and execute termite -e pacli
That will bring it straight up in a Shell for you

[2017-04-07 17:57] Dobbie03 commented on #74
@erikdubois, this removes the double decorations?

[2017-04-07 18:41] osgyan commented on #81
This is a complex one, We need to maintain our Repo at par with AUR. Since the applications we built from AUR and put in repo were installed in Pacman, Yaourt will not detect them as from AUR hence will not auto update them. We need to manage our repo in any case because we source a lot of our programs from AUR. Plus this gives us our own Identity.

[2017-04-07 18:41] #81 closed

[2017-04-07 18:42] osgyan commented on #80
Can't include it like this, We need to customize our build.sh and mkarchiso to ensure that we add support for Linux-lts. I can take a look at this and update

[2017-04-07 18:44] osgyan commented on #78
xinit-xsession seems more feasible. Let met try that in the new build and see how that goes.

[2017-04-07 18:45] osgyan commented on #79
I think all of this should be in AUR,I can compile them and put them in the repo.

[2017-04-07 19:11] osgyan opened #82 "3.4.0- Browse Here shortcut still pointing to PcManFM"
![3 4-bug-1](https://cloud.githubusercontent.com/assets/15225405/24815764/04cba1fe-1bf4-11e7-81c6-b51e9ba568aa.png)

[2017-04-07 19:15] osgyan commented on #82
Change the Line Number 27 from open_folder_cmd=pcmanfm  to open_folder_cmd=thunar  in
 /usr/bin/al-places-pipemenu  and this error will go.

whosoever does the next build can do this.

[2017-04-07 19:17] osgyan commented on #82
Solution is tested to work fine. Assigning to myself for next build.

[2017-04-07 19:23] osgyan opened #83 "3.4.0 -Screen Tearing with Compton"
Not sure what changed but I am getting screen tearing with Nouveau Driver. Is this expected?

[2017-04-07 19:27] osgyan commented on #83
Fix is to enable backend= glx in place of backend=xrenderer in compton.conf  Will need to be taken care of in Next release

[2017-04-07 20:17] Dobbie03 commented on #79
Good idea Rajat

[2017-04-07 20:28] osgyan opened #84 "3.4.0 - Exit screen is different than BL"
![2017-04-08--1491616578_1920x1080_scrot](https://cloud.githubusercontent.com/assets/15225405/24818584/c7fc9782-1bfe-11e7-89da-969d6961f521.png)

[2017-04-07 20:29] osgyan commented on #84
Looks like sardi look, I changed once to Sardi icons in themes but then changed back to Faenza and it still is unchanged, either way this is not what we should have. We should have the exact one like BL..

[2017-04-07 20:34] Dobbie03 commented on #84
This is the one compromise we are making with the dedicated BL look.  None of us like AL-Exit, and it was awkward.  To top it off, it appears BL are returning to the old styled #! exit anyway.

[2017-04-07 20:40] osgyan commented on #84
Ok Then If this is agreed, then I am fine with this. I will close .. Please remove /usr/bin/al-exit script as that is broken. I thought we have this look because al-exit is broken.. lol..

[2017-04-07 20:40] #84 closed

[2017-04-07 21:10] erikdubois commented on #83
there were issues with glx so i changed back to xrender
this might be user and hardware dependent
follow this up and let users know if that is the case

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rajat Pandita <notifications@github.com>
Sent: Friday, April 7, 2017 9:27:59 PM
To: ARCHLabs/Archlabs-Iso
Cc: Erik Dubois; Assign
Subject: Re: [ARCHLabs/Archlabs-Iso

[2017-04-07 21:11] erikdubois commented on #78
please check it

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rajat Pandita <notifications@github.com>
Sent: Friday, April 7, 2017 8:44:07 PM
To: ARCHLabs/Archlabs-Iso
Cc: Erik Dubois; Assign
Subject: Re: [ARCHLabs/Archlabs-Iso] Ob-menu crashes (#78)

xinit-xsession seems more feasible. Let met try that in the new build and see how that goes.

—
You are receivi

[2017-04-07 21:12] erikdubois commented on #80
updating to linux-lts was piece of cake
experienced arch user will have no problem with that

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rajat Pandita <notifications@github.com>
Sent: Friday, April 7, 2017 8:42:47 PM
To: ARCHLabs/Archlabs-Iso
Cc: Erik Dubois; Author
Subject: Re: [ARCHLabs/Archlabs-Iso] linux or linux-lts kernel (#80)

Can't include it like th

[2017-04-07 21:16] erikdubois commented on #81
i hear we will need to maintain them...
work....

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rajat Pandita <notifications@github.com>
Sent: Friday, April 7, 2017 8:41:27 PM
To: ARCHLabs/Archlabs-Iso
Cc: Erik Dubois; Author
Subject: Re: [ARCHLabs/Archlabs-Iso] pacman.conf (#81)

This is a complex one, We need to maintain our Repo at par with AUR. Since the app

[2017-04-07 21:17] erikdubois commented on #81
we will devide work amongst us
i think i have added three now

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rajat Pandita <notifications@github.com>
Sent: Friday, April 7, 2017 8:41:27 PM
To: ARCHLabs/Archlabs-Iso
Cc: Erik Dubois; Author
Subject: Re: [ARCHLabs/Archlabs-Iso] pacman.conf (#81)

This is a complex one, We need to maintain our Repo at par with AUR.

[2017-04-07 21:27] erikdubois commented on #82
great
i skipped that one in the testing

[2017-04-07 21:29] erikdubois commented on #79
it is easier to put the custom actions in the skel
no maintaining needed
we have enough work as is

[2017-04-07 21:30] erikdubois commented on #77
i think this one is succesful
confirm and close

[2017-04-07 21:43] Dobbie03 commented on #82
Pipemenu corrected with Thunar rather than PCmanFM.

[2017-04-07 21:44] Dobbie03 commented on #82
Tested and works perfectly.

[2017-04-08 03:14] erikdubois commented on #82
checked and closed

[2017-04-08 03:14] #82 closed

[2017-04-08 03:14] erikdubois commented on #83
do other have issues wit screentearing
i have nvidia over here

[2017-04-08 04:28] toola69 commented on #83
@erikdubois I did have mate but after putting glx into my compton.conf it is fixed plus tweaking my xorg.conf

[2017-04-08 04:29] erikdubois commented on #83
where can we communicate this information the best?

[2017-04-08 04:30] erikdubois commented on #83
idea is it feasable to make an extra menu in the pipemenu to source a script that changes glx and xrender with a sed command...?

[2017-04-08 05:03] toola69 commented on #83
That's a good idea

[2017-04-08 05:11] erikdubois opened #85 "playerctl was not on application list for 3.4.0"
used in the shortcuts to stop music start music next previous
added to list for next release

[2017-04-08 05:12] erikdubois commented on #85
and done

[2017-04-08 05:12] #85 closed

[2017-04-08 05:30] erikdubois commented on #79
here are mine
[link](https://github.com/erikdubois/Archlabs-Nemesis/blob/master/personal/settings/thunar/uca.xml)
share your document please - pastebin or so

[2017-04-08 05:33] erikdubois commented on #27
link to script that we need to include in our cleanup.sh scipt
[link](https://github.com/erikdubois/Archlabs-Nemesis/blob/master/personal/999-only-if-you-are-NOT-on-virtual-box-you-can-run-these-v3.sh)

[2017-04-08 19:36] Dobbie03 commented on #27
Just tested the script, worked perfectly.  Just has a spelling mistake at the end when the script has run:

"virtual box for guest has been **_remoced_**"

[2017-04-12 05:28] Dobbie03 opened #86 "os-prober addition (proposal)"
See this thread at the forum:

http://archlabs.prophpbb.com/topic123.html

[2017-04-13 17:11] erikdubois commented on #86
addes os-prober to the list

[2017-04-13 17:11] #86 closed

[2017-04-13 17:15] erikdubois commented on #74
i am going to delete these packages from the list

#fix gtk themes
gtk3-nocsd-git
lib32-libgtk3-nocsd-git

Delete these from your system and immediately solves pamac double title bars.
Will use it for a few weeks without these two files.
hashtagging them out for now

[2017-04-13 17:15] #74 closed

[2017-04-13 18:13] Dobbie03 opened #87 "Logout"
Is this required:
http://archlabs.prophpbb.com/topic125.html

[2017-04-14 05:22] erikdubois commented on #87
no we discovered this as wall but it seems we dit not make a issue here on github
next release we will have this line deleted in xsession
#/bin/zsh --login -i ~/.xinitrc
this causes openbox-session to run twice so the logout has trouble logging you out...

[2017-04-14 05:22] #87 closed

[2017-04-14 06:51] erikdubois commented on #87
related to this one - there was a issue report on another github
[https://github.com/ARCHLabs/Archlabs-Openbox-Configs/issues/60](https://github.com/ARCHLabs/Archlabs-Openbox-Configs/issues/60)

[2017-04-14 07:01] erikdubois commented on #22
added system-config-printer to packages.both

[2017-04-14 07:01] #22 closed

[2017-04-14 07:19] erikdubois commented on #77
confirmed
deleting works

[2017-04-14 07:19] #77 closed

[2017-04-14 11:23] erikdubois commented on #15
neofetch is fine by me but also screenfetch should give us a ascii logo
both should work
who contacted who?
I see no issues on both githubs?

[2017-04-14 11:23] erikdubois commented on #14
what needs to be done here?

[2017-04-14 11:37] erikdubois commented on #78
checking this now

[2017-04-14 12:58] toola69 commented on #80
@erikdubois @osgyan I'd just leave it as the default kernel

[2017-04-14 13:00] toola69 commented on #15
@erikdubois I contacted the guy from Neofetch but never got a reply

[2017-04-14 13:02] toola69 commented on #14
@erikdubois Matt has the splash mate and can tell you what to do.
@Dobbie03 Hey mate can you get the splash to Erik mate.

[2017-04-14 15:08] ajjames31 commented on #15
The neofetch script is generally cleaner and faster. I just got ascii art working for OBR in neofetch, and I'm going to submit a pull request to get it officially supported. If @Dobbie03 will send me the ascii file he's been working on I'll try to get it working and submit a pull request for neofetch for AL as well. You can send it to ajjames31@gmail.com

[2017-04-14 15:13] ajjames31 commented on #83
There is also a graphical application called paranoid that allows for making this change as well as setting other Compton configurations. I can provide a PKGBUILD for it if you'd like to include it. Its at https://github.com/obrevenge/obr-packages/paranoid

[2017-04-14 15:34] erikdubois commented on #83
@ajjames31 can you accept my google hangout invitation
i want to ask you some questions ...

[2017-04-14 17:40] Dobbie03 commented on #15
@ajjames31 all done mate, you should have an email now.

[2017-04-14 17:48] Dobbie03 commented on #14
Sorry guys, it was on my other drive which shat itself.  @toola69 do you still have a copy?

[2017-04-14 17:51] Dobbie03 commented on #77
Could this clean up script be included somewhere in the next build?

[2017-04-14 18:59] Dobbie03 opened #88 "Pythonqt required for Calamares"
pythonqt is now required for Calamares, will need to be added from the AUR to our repo

[2017-04-14 19:10] erikdubois commented on #88
i just got that message
indeed

[2017-04-14 19:15] erikdubois commented on #77
it is included but it does not work
have tried two hours ago with help of Jody
not nearer to a solution

[2017-04-14 19:18] erikdubois commented on #88
put a package on there...

[2017-04-14 19:20] erikdubois opened #89 "autologin for lightdm"
Went with another approach and will use lightdm.service to boot into with livecd and lateron on ssd.

no xinitrc or xsessions (obmenu problems and switching from desktop problems) or double sessions that made oblogout look buggy.

Challenge now is to autologin into lightdm in the live iso.
any knowledge out there how to do that.
Solution lies in here : [https://wiki.archlinux.org/index.php/LightDM

[2017-04-14 19:38] erikdubois commented on #88
done and works

[2017-04-14 19:38] #88 closed

[2017-04-14 19:40] erikdubois commented on #77
abif-master is cleaned after installation

[2017-04-15 03:00] toola69 commented on #14
@Dobbie03 I'll scope it out mate

[2017-04-15 04:28] erikdubois commented on #89
ok everything works

[2017-04-15 04:28] #89 closed

[2017-04-15 04:28] erikdubois commented on #78
in version 3.4.1 this is all good

[2017-04-15 04:28] #78 closed

[2017-04-15 05:05] erikdubois commented on #79
mine have been added to 3.4.1

[2017-04-15 08:06] erikdubois opened #90 "What if we supported printer support"
it only takes these applications to do it
sudo pacman -S cups cups-pdf ghostscript gsfonts libcups hplip system-config-printer --noconfirm --needed
systemctl enable org.cups.cupsd.service
systemctl start org.cups.cupsd.service

[2017-04-15 13:57] ajjames31 commented on #15
I sent Matt a working config file and ascii for neofetch. I will do pull request to try to get it officially supported.

[2017-04-15 14:38] erikdubois commented on #15
great

[2017-04-15 17:34] ajjames31 commented on #15
I forked neofetch, made the necessary changes to support ARCHlabs, and have sent a pull request to have the changes merged upstream. I will let you guys know when it gets merged. The config and ascii art that I sent to Matt should work for now, however.

[2017-04-15 17:57] ajjames31 commented on #15
Also, the ID line in /etc/os-release needs to be changed to "ID=archlabs".

[2017-04-15 18:20] Dobbie03 commented on #15
Excellent, thank you Jody @ajjames31

[2017-04-15 18:20] erikdubois commented on #15
done from release 3.4.4

[2017-04-15 18:20] erikdubois commented on #15
@Dobbie03 or can it be ARCHLabs instead of archlabs

[2017-04-15 18:23] Dobbie03 commented on #15
@erikdubois I don't think it is important

[2017-04-15 18:23] erikdubois commented on #15
now it is archlabs in 3.4.4
we can always change it later

[2017-04-15 18:33] ajjames31 commented on #15
It needs to be.lower case on the ID line

On Apr 15, 2017 1:23 PM, "Erik Dubois" <notifications@github.com> wrote:

[2017-04-15 18:35] Dobbie03 commented on #79
That will mike life a little easier :)

[2017-04-15 18:36] Dobbie03 commented on #90
I'm all for printer support.

[2017-04-15 20:57] erikdubois commented on #90
in they go then

[2017-04-15 20:58] erikdubois commented on #79
we should gather more
and improve mine

[2017-04-15 20:58] erikdubois commented on #15
ok done closing

[2017-04-15 20:58] erikdubois commented on #15
sorry reopening for the rest of the topic

[2017-04-15 21:06] erikdubois commented on #90
done for version 3.4.6

[2017-04-15 21:06] #90 closed

[2017-04-16 05:56] erikdubois commented on #83
no screen sharing reported after 3.4.6
let us agree to reopen if it starts again
backend xrender in this release

[2017-04-16 05:56] #83 closed

[2017-04-16 05:57] erikdubois commented on #80
ok best thing to do is keep it as it is now
updating the kernel is not that difficult
closing

[2017-04-16 05:57] #80 closed

[2017-04-16 08:57] erikdubois opened #91 "no password required for some of the applications that do require a password normally"
Pamac-updater does not ask for root password
mintstick does not ask for root password
...?
Why is that?

[2017-04-16 09:53] erikdubois opened #92 "geany - dark theme"
i do not like the white geany background so I immediately change to the dark version.
Should we include a dark theme?
Should we set it as default?

[2017-04-17 20:01] erikdubois commented on #91
that is now solved as from v3.5.1
keeping open to check

[2017-04-18 09:06] stepborc opened #93 "Error while installing Archlabs"
I'd build an Archlab ISO-file, started it in a Virtualbox and started the installation process.

The first step "unpackfs" stopped with an error.

Host system reported disk full. VM execution is suspended. You can resume after freeing some space.

Fehler ID: DevAHCI_DISKFULL
Dringlichkeit: Normaler Fehler

Is it a problem of my ISO or a configuration problem? I set the virtual disk to 27GB.

[2017-04-18 12:59] stepborc commented on #93
Problem is on my hard disk where my VM is stored. The hard disk runs out of space. Sorry. Please close.

[2017-04-18 12:59] #93 closed

[2017-04-18 18:14] erikdubois commented on #91
ok this works starting from 3.5.1

[2017-04-18 18:14] #91 closed

[2017-04-18 19:41] erikdubois opened #94 "ctrl + alt + backspace"
I like to have the option to be able to stop xorg

Terminating Xorg with Ctrl+Alt+Backspace

By default, the key combination Ctrl+Alt+Backspace is disabled. You can enable it by passing terminate:ctrl_alt_bksp to XkbOptions. This can also be done by binding a key to Terminate_Server in xmodmap (which undoes any existing XkbOptions setting). In order for either method to work, one also needs to hav

[2017-04-19 04:13] erikdubois opened #95 "Do we need three browsers?"
[formum link](http://archlabs.prophpbb.com/post560.html#p560)
What do you think about deleting opera?
Is any of us using this?
I use firefox all the time...
in the future i believe vivaldi is going to be a popular browser -- try it  -- superfast

[2017-04-19 05:41] toola69 commented on #95
@erikdubois Delete it mate. 3 Browsers is insane

[2017-04-19 05:42] toola69 commented on #92
@erikdubois Include a dark theme mate

[2017-04-19 05:44] Dobbie03 commented on #95
Kill Opera, I only use Waterfox myself anyway.

[2017-04-19 05:44] Dobbie03 commented on #92
Include and set as default.

[2017-04-19 08:13] erikdubois commented on #95
will kill it

[2017-04-19 08:13] erikdubois commented on #92
ok will do

[2017-04-19 16:01] erikdubois commented on #95
gone

[2017-04-19 16:01] #95 closed

[2017-04-19 16:04] erikdubois commented on #92
added to github other files
done

[2017-04-19 16:04] #92 closed

[2017-04-20 05:48] erikdubois commented on #94
@Dobbie03 what do you think
add it ?

[2017-04-20 05:49] erikdubois commented on #79
@ARCHLabs/core-members can you guys check your systems
what custom actions do you like to see included?

[2017-04-20 07:40] Dobbie03 commented on #79
All I think we need is a open thunar as root, edit as root and open terminal here.

[2017-04-20 07:41] Dobbie03 commented on #94
Yes,  I agree, add it.

[2017-04-21 08:38] erikdubois commented on #94
added in v3.5.6

[2017-04-21 08:38] #94 closed

[2017-04-21 08:39] erikdubois commented on #79
keeping all as is and closing

[2017-04-21 08:39] #79 closed

[2017-04-21 08:48] erikdubois commented on #27
can this be done automatic with calamares?

[2017-04-22 16:20] erikdubois commented on #94
deleted again from v3.5.8
causes many problems in virtualbox and ssd
compton crashes
no wallpaper etc ...

[2017-04-22 19:19] erikdubois commented on #27
in short term we will solve this with scripts
if an automatic method is found, it will be included
closing for now with consensus of @Dobbie03

[2017-04-22 19:19] #27 closed

[2017-04-23 05:50] erikdubois opened #96 "addding standard folders"
how to we add standard folders to the users home folder like music, video etc...

[2017-04-23 05:51] Dobbie03 commented on #96
I'm not sure what you mean, aren't they already there?

[2017-04-23 06:04] erikdubois commented on #96
ah yes sorry
i mean the folder in the left column of thunar
the bookmarks

[2017-04-23 06:27] Dobbie03 commented on #96
You click drag it to the sidebar

[2017-04-23 06:30] erikdubois opened #97 "audacious sets mime links on wrong extensions..."
audacious gives us already two bugs... that i have discovered - they are all linked to mime

bug 1 : firefox - download something go to download folder in menu and in stead of thunar we get audacious - solved via forum search - added mimeapp.list a line to open thunar
bug 2 : peek - maked animated gifs - you get a popup to open the folder were the gif is - that link will not open thunar. That is a

[2017-04-23 06:31] Dobbie03 commented on #97
I'm not getting this on any of my installs.

[2017-04-23 06:35] erikdubois commented on #97
take firefox
download something from the net
then go to the top
you see an arrow
click on the arrow
do not click on the file/download but on the folder behind it to open the folder
that USED to open audacious - fixed in 3.6.0
now i discover a new bug....

[2017-04-23 06:41] erikdubois commented on #96
can we add them automatically for the users.
if we can then i would like to add .config and .config/openbox as well

[2017-04-23 06:56] Dobbie03 commented on #96
We can add them, how we do that for shipping I don't know.

[2017-04-23 07:41] Dobbie03 commented on #97
With this issue seeming impossible to cure, let's put the vote to remove Audacious and swap out with Deadbeef.
@erikdubois @osgyan @toola69

Let us know either yay or nay.

It's a yay from me.

[2017-04-23 07:53] erikdubois commented on #97
this was a non-issue - genuine installation of 3.6.0 was working fine.
mime changes must be changed after installing additional software.

[2017-04-23 19:33] erikdubois commented on #97
reopening
did 3.6.1 installation. added lastpass and xmarks and synchronisation of extenions
 and had again a link from folder to audacious
![2017-04-23--1492975916_3840x1080_scrot](https://cloud.githubusercontent.com/assets/10594806/25316706/8cb16e26-286c-11e7-844f-e1bc4f873cf1.png)

[2017-04-23 19:38] erikdubois commented on #97
i did a uninstallation of audacity and audacity-plugins.
The first one also has a line upon uninstalling
Updating the desktop fiile MIME type cache
i believe that is were the trouble is after reading many articles on the net.

**Would advise to replace audacity with deadbeef. Is awesome alternative.**

[2017-04-24 06:47] erikdubois opened #98 "Cooverglobus"
add it to the iso
[forum](http://archlabs.prophpbb.com/topic140.html)

[2017-04-24 07:16] erikdubois opened #99 "xfce4-appfinder"
add appfinder to installation list
change the keyboard shortcut ALT + F3

[2017-04-24 09:02] toola69 commented on #97
Deadbeef is cool

[2017-04-24 09:03] toola69 commented on #98
@erikdubois @Dobbie03 I've never been able to get this to work.
Is there anyway we can make a conky that shows song info and coverart

[2017-04-24 09:08] erikdubois commented on #99
has been added to packages.both
dmenu is now the alternative keybinding CTRL + SHIFT + D

[2017-04-24 09:08] #99 closed

[2017-04-24 09:09] erikdubois commented on #98
we will try to implement it for 4.0 else later

[2017-04-24 09:10] erikdubois commented on #97
can be delete audacious completely  and replace any and all with deadbeef
shortcuts ... @Dobbie03

[2017-04-25 06:02] Dobbie03 commented on #98
@toola69 I have a couple of custom configs, depends on what music player you're using.

[2017-04-25 11:15] ajjames31 commented on #15
Hey guys, the changes have been merged to neofetch and it has been updated. There is now native support for ARCHlabs!

[2017-04-25 18:17] Dobbie03 commented on #15
That is amazing news.  So happy!!

[2017-04-25 18:32] toola69 commented on #15
Wow how cool is this

[2017-04-27 05:55] erikdubois commented on #97
audacious has been removed in favour of deadbeef

[2017-04-27 05:55] #97 closed

[2017-04-28 10:33] erikdubois commented on #96
in respect to release 4.0 - closing this for now

[2017-04-28 10:33] #96 closed

[2017-04-28 10:34] erikdubois commented on #15
neofetch is now fixed
new version is in repo

How about screenfetch? any steps taken there ?
@Dobbie03 @toola69 @ajjames31

[2017-04-28 21:10] Dobbie03 commented on #15
No nothing with screenfetch. We should just stick with Neofetch.

[2017-04-28 22:08] erikdubois commented on #15
closing ?

[2017-04-28 23:52] Dobbie03 commented on #15
Closing this one up.

Not sure if the lsb_release will need to be manually updated or not  Will need to check with next release.

[2017-04-29 04:35] erikdubois commented on #15
ok closing

[2017-04-29 04:35] #15 closed

[2017-04-29 08:11] Dobbie03 commented on #98
Closing this as we aren't adding.  User can install from the AUR Archive

[2017-04-29 08:11] #98 closed

[2017-04-30 06:57] Dobbie03 opened #100 "Rofi"
I'd like to see Rofi added to +5.  The ctrl+space is infinitely handy as a launcher.

[2017-05-01 05:10] erikdubois opened #102 "obmenu3"
Check if obmenu3 is better, stable etc...
[forum](http://archlabs.prophpbb.com/post702.html#p702)

[2017-05-01 05:31] Dobbie03 opened #103 "Removal of Pamac"
See comment from Head_on_a_Stick (a Arch and Debian guru) regarding Pamac:

https://forums.bunsenlabs.org/viewtopic.php?pid=50239#p50239

I was actually unaware of this issue.  My suggestion is do do away with any type of GUI updater and use pacli in place of

@erikdubois @toola69

[2017-05-01 07:59] toola69 commented on #102
@erikdubois I installed it but I couldn't get it to work

[2017-05-01 12:42] erikdubois commented on #102
if you cannot - our users cannot

[2017-05-02 12:11] toola69 opened #104 "Inconsistent icons in obmenu-generator"
@erikdubois @Dobbie03 Got a great review from Sudo Reboot on youtube.
He is having problems with missing icons when generating a menu with icons using
obmenu-generator. He has tried different icon themes but still missing icons.
He said it was fine in the release before 4.
Has obmenu-generator been updated? If so can we rollback to the version before.

[2017-05-02 15:08] toola69 opened #105 "network shares in thunar"
@erikdubois @Dobbie03
Cannot access network shares in thunar.
Needs gvfs packages installed..

[2017-05-03 06:04] Dobbie03 commented on #105
Needs to be added?

[2017-05-03 06:05] Dobbie03 commented on #104
Do we really require this?

[2017-05-05 05:31] erikdubois opened #106 "cleanup.sh"
can we delete cleanup.sh after it has been executed?
/usr/bin

[2017-05-05 06:26] Dobbie03 commented on #106
How do we do that other than pushing the delete key?

[2017-05-06 04:39] erikdubois commented on #103
as it seems there is no issue at all... question has been put at github of pamac.
with a satisfying answer as a result. [link](https://github.com/manjaro/pamac/issues/248)

[2017-05-06 06:47] Dobbie03 commented on #103
Closing.

[2017-05-06 17:39] erikdubois commented on #105
is not a bug but an enhancement
will add gvfs-smb to the iso list

[2017-05-06 17:41] erikdubois commented on #105
done

[2017-05-06 17:41] #105 closed

[2017-05-07 06:50] erikdubois opened #107 "audacious"
audacious is still being installed and is in rc.xml as shortcut super+m?

Deadbeef replaced musicplayer
Trimming iso and getting rid of audacious?
Ok to proceed

and changing super+m to start deadbeef

[2017-05-07 06:51] Dobbie03 commented on #107
Remove Audacious.  From a personal stand point, I will always change it back as I have had zero issues with Audacious.

[2017-05-07 07:47] erikdubois opened #108 "lm_sensors"
lm_sensors to know the temperature of the cpu in conky's is not yet included (and other information)

[2017-05-07 08:35] Dobbie03 commented on #108
These will need to be configured per user.  Maybe this could be part of the much mentioned welcome script?

[2017-05-08 05:26] Dobbie03 opened #109 "Minimal Release"
I have been asked a few times for a smaller sized ISO, what are the thoughts on a minimal release?

[2017-05-08 14:56] darknetmatrix commented on #107
remove audacious imo but also have a look at Pragha music player

[2017-05-09 05:30] Dobbie03 commented on #107
We don't want to over complicate things, thanks for the idea. Deadbeef is the default for now.

[2017-05-09 17:40] erikdubois commented on #107
@darknetmatrix i have a script on [github](https://github.com/erikdubois/Archlabs-Nemesis/tree/master/Scripts%20to%20change%20openbox)
it is a script to change whatever application or keyboard shortcut there is to something you would want to use

[2017-05-13 06:39] erikdubois opened #110 "glances"
add glances to the installation iso
![2017-05-13--1494664445_3840x1080_scrot](https://cloud.githubusercontent.com/assets/10594806/26023219/af6b22a4-37b7-11e7-82a0-d69e2bbd9fc6.png)
middle screen

[2017-05-20 21:06] erikdubois opened #111 "sardi oblogout"
PERSONAL REMINDER
Do not forget that sardi-oblogout has its own github now

[2017-05-21 04:30] erikdubois opened #112 "add bluetooth support"

[2017-05-22 11:46] erikdubois commented on #112
implemented and tested on 4.0.5
works

[2017-05-22 11:46] #112 closed

[2017-05-22 11:47] erikdubois commented on #111
ok new AUR package

[2017-05-22 11:47] #111 closed

[2017-05-22 11:48] erikdubois commented on #110
ok added in archlabs 4.0.5

[2017-05-22 11:48] #110 closed

[2017-05-22 11:49] erikdubois commented on #109
for the moment that is a lot of work - too few people to support this.

[2017-05-22 11:49] #109 closed

[2017-05-22 11:49] erikdubois commented on #108
added to the iso - small number of MB
Iso went from 2GB to 1.7GB - there is place

[2017-05-22 11:49] #108 closed

[2017-05-22 11:51] erikdubois commented on #107
audacious is going out - deadbeef is the music player for now
personally i will be using spotify
it is up to the end-user to change things like that

[2017-05-22 11:51] #107 closed

[2017-05-22 11:54] erikdubois commented on #106
cleanup.sh cleans itself up after 4.0.5

[2017-05-22 11:54] #106 closed

[2017-05-22 12:09] erikdubois commented on #100
is installed from 4.0.5

[2017-05-22 12:09] #100 closed

[2017-05-22 12:09] erikdubois commented on #14
closing this one - do not see the sense in doing this... and then the maintenance with each new release...

[2017-05-22 12:09] #14 closed

[2017-05-22 12:47] erikdubois commented on #102
obmenu3 looks to be superior imo

[2017-05-22 13:00] erikdubois commented on #102
is installed after testing and replaces obmenu

[2017-05-22 13:00] #102 closed

[2017-05-26 06:46] Dobbie03 opened #113 "Add Product Sans TTF to ISO"
Need Product Sans font font for the new SLiM themes to display properly.

https://befonts.com/product-sans-font.html

[2017-05-26 07:02] erikdubois commented on #113
Google offers many fonts on open source terms. Product Sans is not one of them. Please see www.google.com/fonts.

[2017-05-26 07:06] erikdubois commented on #113
You can't get much a clearer [non-] licence than that. – Andrew Leach Sep 2 '15 at 15:42
4
The only way their intentions could be clearer is if they wrote "If you'd like to know if you're allowed to use this font, our licensing terms are as follows" above a picture of Larry Page flipping the bird. – user568458 Sep 2 '15 at 18:15

Aww, that's unfortunate. I got all excited because I found it online

[2017-05-26 07:07] erikdubois commented on #104
it is a nice to have - will check it

[2017-05-26 17:47] Dobbie03 commented on #113
I'll leave the configs as is, leave it up to the user to install the font if they want.

[2017-05-26 18:56] erikdubois commented on #113
i did exactly the same with the latest conky al any text any font
i have pasted a link inside the conky where they can download the font
no copyrights issues that way

[2017-06-01 04:01] #113 closed

[2017-06-01 04:02] erikdubois opened #114 "Obladi"
instead of obmenu and obmenu3 we can use this one
[forum](http://archlabs.prophpbb.com/post1149.html#p1149)

[2017-06-01 05:41] Dobbie03 commented on #114
I still don't agree with the inclusion of a GUI for editing obmenu.  You can still cock-up your setup if you don't know what you are doing with the GUI and if you don't know how to repair the menu.xml in a text editor file you are totally stuffed.

I understand we are trying to make AL as user friendly as possible but some times the user has to get their hands dirty in the terminal and text editor

[2017-06-01 10:59] erikdubois commented on #114
and how can you make an error?
what kind of tutorial do you require?

[2017-06-02 05:32] Dobbie03 commented on #114
Quite easily, a typo, the wrong entry for the wrong application.  Many ways to cock up using the GUI.

Actually I'd rather not see any GUI included.

[2017-06-03 08:46] erikdubois commented on #104
at the moment obmenu-generator is giving issues with icons
lets wait until everything stabilizes

[2017-06-03 17:59] erikdubois opened #115 "keyboard touchpad standard on"
after installation - is it possible to have touchpad standard on

[2017-06-05 06:12] erikdubois opened #116 "Gnumeric"
Do we need to keep this? Since we have libreoffice suite?

[2017-06-05 06:16] darknetmatrix commented on #116
since there is libreoffice calc i say delete

[2017-06-05 06:41] darknetmatrix opened #117 "dropbox-plugin"
maybe for future releases include the thunar-dropbox plugin, the size of it is 16.4 kb

[2017-06-05 06:55] erikdubois commented on #117
do you use it? I do not
what does it do?

[2017-06-05 07:04] darknetmatrix commented on #117
It shows your dropbox map in thunar

[2017-06-05 07:48] erikdubois commented on #117
in the right mouse click menu?

[2017-06-05 07:55] darknetmatrix commented on #117
no, it creates a map in thunar just like musi, pictures, videos, ...

[2017-06-05 09:06] erikdubois commented on #117
installed will follow it up
packer thunar-dropbox
that one right?

[2017-06-05 09:31] darknetmatrix commented on #117
yes Erik

[2017-06-06 08:32] Dobbie03 commented on #116
I'd say delete.

[2017-06-12 20:00] erikdubois commented on #116
has been deleted

[2017-06-12 20:00] #116 closed

[2017-06-13 19:20] erikdubois opened #118 "install pepper-flash from aur"
no youtube support in vivaldi without this package

[2017-06-16 16:24] darknetmatrix commented on #118
i think this one is solved with this: packer-vivaldi-snapshots-ffmpeg-codecs

[2017-06-17 21:42] erikdubois commented on #118
pepper-flash is not the way to go

[2017-06-17 21:42] #118 closed

[2017-06-19 09:35] shibasisp opened #119 "Error while installing archlabs in virtualbox"
While installing `archlabs-v4.1.0-2017.06.04` into VirtualBox, I get the following error:
![screenshot from 2017-06-19 13-37-50](https://user-images.githubusercontent.com/13582547/27278958-9cadc660-5500-11e7-8042-1c91f08cb230.jpg)
How can I resolve this?

[2017-06-19 09:35] erikdubois commented on #119
this should not happen frankly

[2017-06-19 09:36] erikdubois commented on #119
did you update in the live cd
then it makes sense again

[2017-06-19 09:38] erikdubois commented on #117
if we include that we need to include dropbox as well...
all cloud applications have not been included
as not everyone will like them or have them
I would like to have insync
but it is not in there.
Let me discuss it with the others.

[2017-06-19 09:39] erikdubois commented on #115
on my laptops it is standard on now with the latest release 4.1.1

[2017-06-19 09:39] #115 closed

[2017-06-19 09:40] erikdubois commented on #114
let us keep this one in mind for an alternative for obmenu3
made quite a few changes with obmenu3
all works fine

[2017-06-19 09:40] #114 closed

[2017-06-19 09:41] erikdubois commented on #104
all icons have been accounted for
IF you use sardi or surfn all should be good
those icons sets can be controlled by archlabs team (me) and rest is third party like papirus, numix, etc...

[2017-06-19 09:41] #104 closed

[2017-06-19 09:42] shibasisp commented on #119
No, I just downloaded the iso and installed it. I did nothing in between with live cd.

[2017-06-19 10:01] #117 closed

[2017-06-19 10:02] erikdubois commented on #119
strange

[2017-06-19 10:03] erikdubois commented on #119
try again with a new download please

[2017-06-19 10:16] shibasisp commented on #119
Okay. Will try again with a fresh download.
Thanks!

On Jun 19, 2017 3:33 PM, "Erik Dubois" <notifications@github.com> wrote:

[2017-06-19 10:45] erikdubois commented on #119
good luck

[2017-06-20 04:17] erikdubois commented on #119
can I close this one?

[2017-06-20 04:36] shibasisp commented on #119
Okay

On Jun 20, 2017 9:47 AM, "Erik Dubois" <notifications@github.com> wrote:

can I close this one?

—
You are receiving this because you authored the thread.

Reply to this email directly, view it on GitHub
<https://github.com/ARCHLabs/Archlabs-Iso/issues/119#issuecomment-309640383>,
or mute the thread
<https://github.com/notifications/unsubscribe-auth/AM9A0_5vCuJZsRklyRa8ad2kfdeU7VfMks5sF0fmga

[2017-06-20 04:47] #119 closed

[2017-06-20 05:48] erikdubois commented on #119
thanks

[2017-06-20 07:30] erikdubois opened #120 "laptop close"
then suspend

[2017-06-21 08:28] natemaia opened #121 "Add archive and extract here to thunar custom actions"
So when I want to make an archive I need to manually open file roller, can we add a couple options to the users ~/.config/thunar/uca.xml  to handle this

[2017-06-21 11:20] erikdubois opened #122 "new screenshots for calamares"

[2017-06-21 11:20] erikdubois commented on #121
sure what do you suggest we use

[2017-06-22 10:41] #121 closed

[2017-06-24 11:28] joksik opened #123 "bug after clean install"
hello i install latest archlabs iso 4.1 and  when i boot my computer i have  this error:

**Failed to start Load Kernel Modules**

sudo systemctl status systemd-modules-load.service

● ```
systemd-modules-load.service - Load Kernel Modules
   Loaded: loaded (/usr/lib/systemd/system/systemd-modules-load.service; static; vendor preset: disabled)
   Active: failed (Result: exit-code) since Sat 2017-0

[2017-06-24 18:42] erikdubois commented on #123
known issues
not a bug
check forum for more info
http://archlabs.prophpbb.com/topic193.html

[2017-06-24 18:42] #123 closed

[2017-06-27 11:48] natemaia opened #124 ".bashrc & .zshrc inclusions?"
First off zsh

setopt BANG_HIST                 # Treat the '!' character specially during expansion.
setopt INC_APPEND_HISTORY        # Write to the history file immediately, not when the shell exits.
setopt SHARE_HISTORY             # Share history between all sessions.
setopt HIST_EXPIRE_DUPS_FIRST    # Expire duplicate entries first when trimming history.
setopt HIST_IGNORE_DUPS          # Don

[2017-06-27 12:03] erikdubois commented on #124
not much documentation about this online?

[2017-06-27 12:09] natemaia commented on #124
for bash https://www.gnu.org/software/bash/manual/html_node/The-Shopt-Builtin.html

and for zsh http://zsh.sourceforge.net/Doc/Release/Options.html

[2017-06-27 17:10] #122 closed

[2017-06-27 18:56] erikdubois commented on #124
has been added
including comments behind it

[2017-06-27 18:56] #124 closed

[2017-06-29 15:57] natemaia commented on #120
This may be of use
https://wiki.archlinux.org/index.php/Power_management/Suspend_and_hibernate#Hibernation

Hibernation

In order to use hibernation, you need to create a swap partition or file. You will need to point the kernel to your swap using the resume= kernel parameter, which is configured via the boot loader. You will also need to configure the initramfs. This tells the kernel to attempt r

[2017-07-01 13:35] erikdubois commented on #120
added acpid
acpi powermanagement events
this solved the issue

[2017-07-01 13:35] #120 closed

[2017-07-03 15:46] erikdubois opened #125 "slim.conf"
explanation that if you want other themes you need to install archlabs package
make it quite visible

[2017-07-03 18:12] erikdubois commented on #125
done

[2017-07-03 18:12] #125 closed

[2017-07-04 05:30] erikdubois opened #126 "Automatically create bookmarks in thunar for users"
We can use a script and the service to run to  make
~/config/gtk-3.0/bookmarks and put in the following folders upon installation
file:///home/erik/Downloads Downloads
file:///home/erik/Documents Documents
file:///home/erik/Music Music
file:///home/erik/Pictures Pictures
file:///home/erik/Videos Videos
file:///home/erik/.config .config
file:///home/erik/.config/conky conky
file:///home/erik/.confi

[2017-07-04 05:34] erikdubois commented on #126
we can run hardcodefixer as well then

[2017-07-04 06:29] erikdubois commented on #126
we can install archlabs-slimlock-themes

[2017-07-04 09:40] erikdubois opened #127 "add reflector-timer-weekly for archlabs"
packer reflector-timer-weekly is set to china
reuse and delete country
archlabs-reflector-timer
https://aur.archlinux.org/packages/reflector-timer-weekly/
asked to delete china on AUR

[2017-07-06 10:09] chiru459 opened #128 "touchpad - double tap to hold and drag"

[2017-07-06 11:20] erikdubois commented on #128
thanks

[2017-07-06 11:21] erikdubois commented on #128
battery indicator will be there in R2-D2 - you will get a percentage not an icon

[2017-07-07 12:26] lyze237 opened #129 "Unknown file system type <> on </dev/sda1>"
Hello!

I've tried to install archlabs on my rig but calamares crashes right on startup.

[code]

Disk Setup:

[code]

I'm trying to install it next to a windows 10 64bit installation.
Could I just delete the msp? Can't really find anyone else with the problem and don't want to mess up the windows installation.

[2017-07-09 10:03] prajapatiravi257 commented on #128
Any workaround for the double tap to hold and drag issue?

[2017-07-09 10:13] chiru459 commented on #128
I'm sure there was a solution posted, do you want me to send the link?

On Jul 9, 2017 3:33 PM, "Rio257" <notifications@github.com> wrote:

[2017-07-09 12:50] natemaia commented on #128
double tap to drag solution here
http://archlabs.prophpbb.com/topic279.html

[2017-07-09 12:57] natemaia commented on #128
A user on G+ was wondering if it is possible to have dragging by double tapping the touchpad on the widow titlebar, in short yes.. A lot is possible on openbox, most of which is handled within  [quote]~/.config/openbox/rc.xml[/quote]
So, how do I get this to work?

First open your rc.xml located above. You will have to edit a portion of it containing mouse bindings.
In the Archlabs default it's th

[2017-07-16 05:27] erikdubois opened #130 "Post install applications"
can we make something graphical to install extra and delete what we have already installed
This is a script - need it to be an application (ubuntu-tweak look)
https://github.com/snwh/ubuntu-post-install

[2017-07-16 05:28] erikdubois commented on #129
sounds to me you should ask this question on the calamares github.
https://github.com/calamares
We never mix operating systems. One ssd contains or Windows or Linux.

[2017-07-16 05:28] #129 closed

[2017-07-16 06:29] Dobbie03 commented on #130
I think this is a good idea, a big step towards shrinking the ISO.

[2017-07-16 07:10] erikdubois commented on #130
i do not want to shrink the iso
i want them to give an easy application to delete stuff or install stuff

[2017-07-24 11:15] erikdubois opened #131 "double locale because of grep"
http://archlabs.prophpbb.com/topic294.html

[2017-07-26 13:22] AladW commented on #103
https://github.com/manjaro/pamac/issues/248#issuecomment-318051025

[2017-07-27 01:57] Dobbie03 commented on #103
Reopening issue until there is a satisfactory reply from Manjaro.

[2017-08-13 07:49] natemaia opened #132 "Add xfce4-power-manager to tray in favor of tint2 battery"
We can enable the tray icon for xfce4-power-manager via

/etc/skel/.config/xfce4/xfce-perchannel-xml/xfce4-power-manager.xml

and adding ```<property name="show-tray-icon" type="bool" value="true">```

We could also probably use laptop-detect & grep to do a sed true/false depending on whether it is a laptop or not

[2017-08-14 05:37] Dobbie03 commented on #132
Does this fit in nicely with icon themes?

[2017-08-17 09:08] natemaia commented on #132
Yea it's just like networkmanager, most themes have an icon- a little battery in this case

[2017-09-17 08:32] Dobbie03 commented on #132
No need with Polybar :D

[2017-09-17 08:32] #132 closed

[2017-09-17 08:33] Dobbie03 commented on #131
Issue corrected in Minimo

[2017-09-17 08:33] #131 closed

[2017-09-17 08:34] Dobbie03 commented on #130
@natemaia

Script implemented in Minimo.

[2017-09-17 08:34] #130 closed

[2017-09-17 08:36] #128 closed

[2017-09-17 08:36] #127 closed

[2017-09-17 08:37] Dobbie03 commented on #126
Implemented in Minimo

[2017-09-17 08:37] #126 closed

[2017-09-17 08:37] Dobbie03 commented on #103
Removed in favour of Pacli.

[2017-09-17 08:37] #103 closed

[2017-10-02 03:58] koolcharisma commented on #129
Hi Erik,

I found this looking for the error: (light-locker:12926): Gtk-WARNING **: Theme parsing error: gtk-contained.css:2216:30: 'bg_color' is not a valid color name

I've been using Archlabs R2-D2 for months now and loving it. I've been noticing this GTk related error with several programs. It may be nothing, I don't know.

Any ideas?

[2017-10-12 21:28] sqamsqam opened #136 "neofetch-git is behind neofetch in AUR"
Please update to using neofetch instead of neofetch-git to resolve this issue

`
/usr/bin/neofetch: line 2472: width / font_width + gap + xoffset/font_width: division by 0 (error token is "font_width + gap + xoffset/font_width")
`
When replacing neofetch-git with neofetch the issue is resolved.

[2017-10-13 22:23] natemaia commented on #136
Thanks for the heads up..
Totally unrelated but I just got finished doing all our packaging and neofetch was switched along with a few other packages, We no longer have the need to include packages from the aur and will be largely managing our own repo for the things we need that aren't a part of arch official repo's
[See]https://github.com/ARCHLabs/archlabs_repo

All our packages are now signed a

[2017-10-25 04:17] #136 closed

[2017-11-07 20:35] badmark opened #137 "Fresh Install in Oracle VirtualBox kernel panics on boot"
Made a clone of previous ArchLabs Minimo VM and installed the latest version (2017-10-lts).

Install went without a hitch, upon reboot:

[code]

Primary partition is encrypted, that would be the only out of the ordinary option.

Screenshot attached:
![archlabs_vm](https://user-images.githubusercontent.com/7435884/32516366-1bd48778-c3d1-11e7-9872-270e272ea972.png)

[2017-11-07 20:56] badmark commented on #137
Virtual Machine does not panic when drive is not encrypted, could there be an issue with the implementation on this version as I previously had no issue on the previous release (running bare metal on primary workstation)?

Though the kernel does not throw a panic, system stops at a black screen with blinking cursor.

Again, installer works fine and shows no errors.

[2017-11-07 21:29] badmark commented on #137
Xorg log file after first boot (no encryption)

`[    11.555]
X.Org X Server 1.19.5
Release Date: 2017-10-12
[    11.555] X Protocol Version 11, Revision 0
[    11.555] Build Operating System: Linux 4.9.54-1-lts x86_64
[    11.555] Current Operating System: Linux mark-pc 4.9.60-1-lts #1 SMP Thu Nov 2 16:48:25 CET 2017 x86_64
[    11.555] Kernel command line: BOOT_IMAGE=/boot/vmlinuz-linux-lts root

[2017-11-08 12:43] badmark commented on #137
![virtualbox_pc-alm-10_08_11_2017_07_42_42](https://user-images.githubusercontent.com/7435884/32549721-7f61aa46-c458-11e7-9c02-366139ee43fc.png)

Same with non-lts image on VirtualBox...

[2017-11-10 06:47] Dobbie03 commented on #137
Wow this is way beyond me, @natemaia , can you help here?

[2017-12-23 03:52] natemaia commented on #137
New iso is on it's way out soon, hopefully you can give it a try..

If this is still an issue I can be more proactive with it once were past the release

Apologies for the delay

[2017-12-23 04:30] badmark commented on #137
Awesome, will report back!

On Dec 22, 2017 10:53 PM, "Nathaniel" <notifications@github.com> wrote:

[2017-12-28 01:34] MyIsaak opened #138 "Error when installing new packages after using "13 Fix Errors" from pacli"
I get the error below every time I try to sync or install packages. This started after I tried to clean my system running the `13 Fix Errors` option from the package manager `pacli`. I am unable to install anything at all without this error.

[code]

I got this output when running:
`sudo gpg --list-keys --fingerprint natemaia10@gmail.com`
[code]

[2017-12-29 20:36] kibojoe opened #139 "Installer abif on another Linux Distribution"
hi all,
i'm Holmes and congratulations on your great work!
i am the maintainer of Kibojoe Linux (http://kibojoe.org/)
a Manjaro Linux re-spin with JWM
i'm interested in using your installer (abif)
my biggest goal with this is to reduce the size of the iso
with Calamares the iso becomes swollen
i have not studied the abif script yet, but the installation process seems very simple
i wonder if he has

[2017-12-30 03:59] natemaia commented on #139
Helllo Holmes,
Thanks for the Interest

There is a few required packages for abif to work fully
- dialog  (* this one is really needed)
- wipe   (needed for secure wipe formatting option)
- os-prober  (needed for proper multiboot detection in grub)
- mkinitcpio-openswap   (needed for full drive encryption)

I'd be happy to answer any other quetions you have regarding the installer and it's inner w

[2018-01-08 23:21] badmark opened #140 "12.2017 Installer fails to add entry items in mkinittcpio and grub.cfg when using encryptfs"
Text based installer provides option for LUKS and LUKS+LVM but fails to add the required entries in mkinitcpio.conf and grub.cfg to load the correct modules in order for the system to boot.

It also fails to detect Windows partition, despite being found in previous versions and also being founf after install with os-prober and grub-mkconfig.

[2018-01-30 06:27] natemaia commented on #138
Why are you running gpg as root?

[2018-02-04 07:13] natemaia commented on #140
I've found the issue related to mkinitcpio and LUKS /+ LVM and it should be resolved in the next iso.

Regarding the grub config and finding windows / other distros, I've been having the same issue and working on a fix, for the time being we may have to resort to some post install actions for ease of use, atleast until figuring out what the fix is

Cheers,
Nate

[2018-02-05 01:20] badmark commented on #140
That's awesome. If there is anything I can do to help track down the finding other OSes (as it does after booting into the system) Let me know.

(Have you tried running OS prober? I assume you have)

[2018-02-21 06:38] Dobbie03 commented on #138
I think we can close this one Smoke.

[2018-02-21 06:38] #138 closed

[2018-02-21 06:38] #137 closed

[2018-02-21 06:39] Dobbie03 commented on #139
This isn't an issue with ArchLabs so I'm going to close this one.

@kibojoe, feel free to continue this conversation at the forum https://forum.archlabslinux.com/

[2018-02-21 06:39] #139 closed

[2018-03-01 17:50] badmark commented on #140
Still not working. It's not adding the line into the grub file. I'm attempting to edit it before running but I cannot find the password for liveuser. Could you help?

Error:
grub-install: error attempt to install to encrypted disk without credentials.
GRUB_ENABLE_CRYPTODISK=y is not being added to /etc/default/grub

[Screenshot](https://i.imgur.com/IFhKAqC.jpg)

[2018-03-02 15:08] natemaia commented on #140
I've also posted in the relevant thread on the forum as well however
if you don't catch it there, here is the link [Beta Hotfix 2018.03 ISO Download](https://drive.google.com/open?id=1REjy-wtrLPp68LimpMEuts4CVneAModO)

Still the issue with finding bootloaders, looking around, trying other installers and looking at the filesystem after hasn't gotten me any closer to figuring out why os-prober isnt

[2018-03-02 16:57] badmark commented on #140
Awesome, will try in a few. Always glad to help!

[2018-03-14 11:08] slfmessi opened #143 "Mirrorlist used in installer"
Hi,
Thanks to your effort to make a wonderful distribution, I like this Archlabs though I have a little suggestion:

People in some regions (like me, in China) may download packages in slow speed during installing Archlabs,  because the mirrorlist doesn't fit them. How about let users choose their countries and generate mirrorlist by their countries?

[2018-04-15 13:46] natemaia commented on #143
This should be resolved, the mirrorlist is automatically configured to use the top 20 mirrors with the best connection to you with `reflector` before any packages are installed or updated, if it is still an issue after next release we can look into adding an option to manually set it, however I wouldn't expect much difference.

Cheers

[2018-05-15 18:55] rmbrntt opened #144 "Recent update broke i3lock-fancy"
Had been using the 'lock'  option from oblogout menu and noticed it wasn't actually locking as of this past week?

Running the cmd from oblogout to see what the result would be:
[code]

[2018-05-18 07:48] Dobbie03 commented on #144
Yup Nate and I are working on it.

[2018-05-21 13:15] rmbrntt commented on #144
Latest release appears to have resolved this, closing this issue. Great job guys.

Do you happen to have the commit or PR so I can learn the magic behind this fix? I'd like to contribute in the future rather than just report. Appreciate it!

[2018-05-21 13:15] #144 closed

[2018-05-22 05:26] natemaia commented on #144
@rmbrntt Sure thing, it was regarding font rendering and which library is used
Commit is here https://github.com/ARCHLabs/ArchLabs-screenlock/commit/bb1a7123bc58db5473bd92131b2b4dc66c7337a0

[2018-05-25 16:51] tuxarch opened #145 "error: target not found: ffmpeg2.8"
When assembling iso an error:

warning: skipping target: sudo
==> ERROR: Failed to install packages to new root

It seems to me in packages.both It is necessary to fix a rigid attachment to a certain version in the package ffmpeg?

[2018-06-03 16:25] mkr4 opened #146 "failed checksum comparition for archlabs-2018.05.1.iso"
`archlabs-2018.05.1.iso` downloaded through torrent is different from sourceforge build.
However [.torrent](https://sourceforge.net/projects/archlabs-linux-minimo/files/ArchLabsMinimo/archlabs-2018.05.1.iso.torrent/download) file is correct.

What happend?
![scr2018-06-004](https://user-images.githubusercontent.com/39656054/40888704-a0f64c80-6763-11e8-966a-98616e1edc53.png)

[2018-06-04 06:28] natemaia commented on #145
It was needed for a short while, `ffmpeg2.8` no longer exists in the official repos.

Changing it to just `ffmpeg` allows the build to work successfully

[2018-06-04 07:22] #145 closed

[2018-06-04 17:58] mkr4 commented on #146
mkey, thank you

[2018-06-04 17:58] #146 closed

[2018-06-06 16:19] subgitlab opened #147 "include broadcom drivers in every iso"
Hardware acer 5743
Network controller: Broadcom Limited BCM43225

archlabs-2018.06.iso without broadcom drivers
archlabs-2018.05.1.iso without broadcom drivers

archlabs-2018.05.iso got broadcom drivers

## You like me want the best for yourself

### I appreciate your art of getting things done. One after other. :grin:

[2018-06-26 23:48] natemaia commented on #147
Yea apologies for the missing package, they'll be included in every iso moving forward

Cheers

[2018-06-30 12:36] subgitlab commented on #147
## Thanks very much for your effort to extend archlabs usage to all corners.

:smiley:

[2018-07-28 02:45] #147 closed

[2018-07-28 02:45] #143 closed

[2018-07-28 02:46] #140 closed